<td-layout-nav >
    <div td-toolbar-content layout="row" layout-align="center center" flex>

      <span>
          {{ 'OPPORTUNITIESINDEX' | translate }}
      </span>
      <div flex></div>
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="{{ 'SEARCHHERE' | translate }}" (searchDebounce)="search($event)"
        flex>
      </td-search-box>
      <button md-mini-fab class="md-mini md-primary" [routerLink]="['edit', 0]" aria-label="Add Item">
        <md-icon>add</md-icon>
      </button>
    </div>

    <md-card>

      <md-card-content>
                <div flex></div>
              <td-paging-bar #pagingBar [firstLast]="true" [pageSizeAll]="true" [pageSizes]="pagesArray" [pageSize]="pageSize" [total]="totalItems"
        (change)="change($event)">
        <span td-paging-bar-label hide-xs>{{ 'ROWSPERPAGE' | translate }}:</span> {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
      </td-paging-bar>
        <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
          <ng-template tdDataTableTemplate="id" let-value="value" let-row="row" let-column="column">
            <button md-button md-ripple class="block relative" [routerLink]="['edit', row.id]">
        {{value}}
      </button>
          </ng-template>

          <ng-template tdDataTableTemplate="lastUpdated" let-value="value" let-row="row" let-column="column">
            <span>{{value | date }}</span>
          </ng-template>

          <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
            <div layout="row" flex="5">

              <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
            </div>
          </ng-template>

        </td-data-table>

      </md-card-content>

    </md-card>


</td-layout-nav>