<td-expansion-panel label="Sumary Detail" sublabel="Total quantity: {{total | number}}   " >

    <ng-template [tdLoading]="loadName">
<md-card flex>
  
  <md-card-subtitle>
    <button md-raised-button color="accent" class="text-upper" (click)="addEntity()" *ngIf="!isEditing"> {{ 'OPPORTUNITY.ADDSUMARY' | translate}} </button>
    <button md-raised-button color="secondary" (click)="cancelEdit()" *ngIf="isEditing">{{ 'CANCEL' | translate}} </button>
    <button md-raised-button color="primary" (click)="saveEntity()" *ngIf="isEditing">{{ 'SAVE' | translate}} </button>
  </md-card-subtitle>
  <md-card-content>

    <section *ngIf="isEditing" flex>
      <form #editform="ngForm" flex  (ngSubmit)="submitForm(form)">

        <section layout="row" flex="100" layout-margin>
          <div flex="20" *ngFor="let pc of pdetails | async; let idx = index; ">
            <md-form-field>
              <input mdInput flex [name]="pc.nameDescription" maxlength="500" [placeholder]="pc.property.name" [required]="pc.isRequired" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="pc.propertyValue">
              <md-hint align="end"> 500</md-hint>
            </md-form-field>
          </div>

        </section>
        <section layout="row" flex="100" layout-margin>
          <md-form-field  flex-gt-xs="30">
            <input  mdInput #ItemQuantity name="ItemQuantity" placeholder="{{ 'QUANTITY' | translate}}" [(ngModel)]="itemEdit.quantity" currencyMask  [options]="{ prefix: ''}">
          </md-form-field>
          <md-form-field class="md-icon-float" flex-gt-xs="30">
            <input  mdInput #Price name="Price" [max]="maxQty" placeholder="{{ 'PRICE' | translate}}" [(ngModel)]="itemEdit.price" currencyMask>
          </md-form-field>
          <md-form-field class="md-icon-float" flex-gt-xs="35">
            <input  mdInput #Amount  name="Amount" placeholder="{{ 'TOTAL' | translate}}" [(ngModel)]="itemEdit.amount"  currencyMask>
          </md-form-field>

        </section>

        <div layout-gt-sm="row" layout-lt-md="column">
          <md-form-field flex class="">
            <textarea mdInput flex #Comment name="Comment" maxlength="250" placeholder="{{ 'DESCRIPTION' | translate }}" [(ngModel)]="itemEdit.comment"></textarea>
            <md-hint align="end">{{Comment.value.length}} / 250</md-hint>
          </md-form-field>
        </div>

      </form>
    </section>


    <section flex *ngIf="!isEditing">

      <td-data-table flex [columns]="pcolumns | async" [data]="entList | async" [sortable]="false">
        <ng-template *ngFor="let pc of (pcolumns | async)" [tdDataTableTemplate]="pc.name" let-value="value" let-row="row" let-column="column">
          <span flex>{{value}} </span>
        </ng-template>
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">
            <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
          </div>
        </ng-template>

      </td-data-table>
      <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize" [total]="totalItems" (change)="change($event)">
        <span hide-xs>Rows per page:</span>
        <md-select [style.width.px]="50" [(ngModel)]="pageSize">
          <md-option *ngFor="let size of pagesArray" [value]="size">
            {{size}}
          </md-option>
        </md-select>
        <span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
      </td-paging-bar>
    </section>
  </md-card-content>

</md-card>
</ng-template>
</td-expansion-panel>