<ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Automatic documents attached
      </mat-panel-title>
    </mat-expansion-panel-header>

    <section *ngIf="isEditing">
      <form #editform="ngForm" id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>
        <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <section flex-gt-sm="30">
            <mat-form-field>
              <mat-select class="cbxClass" #idDocumentType name="idDocumentType" flex required="true" placeholder="Select Document" [(ngModel)]="itemEdit.idDocumentType">

                <mat-option *ngFor="let i of catDocumentType  	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                  {{ i.nameDescription || i.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </section>
        </div>

      </form>

    </section>



    <section *ngIf="!isEditing">


      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <button mat-icon-button (click)="confirmDelete( row)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </td-data-table>


      <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize | async" [total]="totalItems | async" (change)="change($event)">
        <span hide-xs>Rows per page:</span>

        <span>{{pagingBarPageSize.range}}
          <span hide-xs>of {{pagingBarPageSize.total}}</span>
        </span>
      </td-paging-bar>
    </section>

    <mat-action-row>
      <button mat-button color="accent" class="text-upper" (click)="addEntity()" *ngIf="!isEditing"> Add</button>
      <button mat-button color="secondary" (click)="cancelEdit()" *ngIf="isEditing">Cancel </button>
      <button mat-button color="primary" (click)="saveEntity()" *ngIf="isEditing">Save</button>
    </mat-action-row>


  </mat-expansion-panel>

</ng-template>