<td-expansion-panel label="Sumary Detail" sublabel="Total quantity: {{total | number}}   Total Shipped: {{totalShipped | number}} " >


<mat-card flex>
  <mat-card-subtitle>
    <button mat-raised-button color="accent" class="text-upper" (click)="addEntity()" *ngIf="!isEditing && (total < maxQty)">Add Sumary </button>
    <button mat-raised-button color="secondary" (click)="cancelEdit()" *ngIf="isEditing">Cancel </button>
    <button mat-raised-button color="primary" (click)="saveEntity()" *ngIf="isEditing">Save </button>
  </mat-card-subtitle>
  <mat-card-content>

    <section *ngIf="isEditing" flex>
      <form #editform="ngForm" flex  (ngSubmit)="submitForm(form)">

        <section layout="row" flex="100" layout-margin>
          <div flex="20" *ngFor="let pc of pdetails | async; let idx = index; ">
            <mat-form-field>
              <input matInput flex [name]="pc.nameDescription" maxlength="500" [placeholder]="pc.property.name" [required]="pc.isRequired"
                [(ngModel)]="pc.propertyValue">
              <mat-hint align="end"> 500</mat-hint>
            </mat-form-field>
          </div>

        </section>
        <section layout="row" flex="100" layout-margin>
          <mat-form-field  flex-gt-xs="30">
            <input  matInput #ItemQuantity name="ItemQuantity" placeholder="Quantity" [(ngModel)]="itemEdit.quantity" currencyMask  [options]="{ prefix: ''}">
          </mat-form-field>
          <mat-form-field class="mat-icon-float" flex-gt-xs="30">
            <input  matInput #Price name="Price" [max]="maxQty" placeholder="Price" [(ngModel)]="itemEdit.price" currencyMask>
          </mat-form-field>
          <mat-form-field class="mat-icon-float" flex-gt-xs="35">
            <input  matInput #Amount disabled name="Amount" placeholder="Total" [(ngModel)]="itemEdit.amount"  currencyMask>
          </mat-form-field>

        </section>

        <div layout-gt-sm="row" layout-lt-md="column">
          <mat-form-field flex class="">
            <textarea matInput flex #Comment name="Comment" maxlength="250" placeholder="Description" [(ngModel)]="itemEdit.comment"></textarea>
            <mat-hint align="end">{{Comment.value.length}} / 250</mat-hint>
          </mat-form-field>
        </div>

      </form>
    </section>


    <section flex *ngIf="!isEditing">

      <td-data-table flex [columns]="pcolumns | async" [data]="entList | async" [sortable]="false">
        <ng-template *ngFor="let pc of (pcolumns | async)" [tdDataTableTemplate]="pc.name" let-value="value" let-row="row" let-column="column">
          <span flex>{{value}} </span>
        </ng-template>
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">
            <button mat-icon-button (click)="confirmDelete( row)">
            <mat-icon>delete</mat-icon>
          </button>
          </div>
        </ng-template>

      </td-data-table>
      <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize" [total]="totalItems" (change)="change($event)">
        <span hide-xs>Rows per page:</span>
        <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
          <mat-option *ngFor="let size of pagesArray" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>
        <span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
      </td-paging-bar>
    </section>
  </mat-card-content>

</mat-card>
</td-expansion-panel>