<div layout-gt-sm="row" layout-lt-md="column" layout-margin >
  <md-form-field flex-gt-sm="20" >
    <input mdInput #zipcode name="zipcode" placeholder="Zip Code" (change)="getFromZipCode($event)" [(ngModel)]="zipCode">
  </md-form-field>

  <md2-select class="cbxClass" flex-gt-sm="80"   [required]="required" [placeholder]="placeholder || 'Colony'" [(ngModel)]="value" [disabled]="disabled" (change)="onChange($event.value)">
      <md2-select-header>               
          <section layout-padding>
              <md-form-field>
                  <input mdInput flex #scolony  placeholder="Search" maxlength="15"  >
                </md-form-field>
          </section>
       </md2-select-header>     
    <md2-option *ngFor="let i of catList  | nameDesc:scolony.value		" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
      {{ i[fieldDisplay] || i.nameDescription || i.name}}
    </md2-option>
  </md2-select>

</div>