<td-expansion-panel label="Prices" sublabel="" >

    <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">

      <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>
      <section *ngIf="isEditing">


        <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <section  flex-gt-sm="35" >
              <mat-form-field class="example-full-width">
                  <input matInput  [matDatepicker]="validFrom" name="validFrom" placeholder="Valid from" required="true" [(ngModel)]="itemEdit.validFrom">
                  <mat-datepicker-toggle matSuffix [for]="validFrom"></mat-datepicker-toggle>
                  <mat-datepicker #validFrom></mat-datepicker>
              </mat-form-field >             
          </section>  
          <section  flex-gt-sm="35" >
              <mat-form-field class="example-full-width">
                  <input matInput  [matDatepicker]="validTo" name="validTo" placeholder="Valid to" required="true" 
                  [(ngModel)]="itemEdit.validTo">
                  <mat-datepicker-toggle matSuffix [for]="validTo"></mat-datepicker-toggle>
                  <mat-datepicker #validTo></mat-datepicker>
              </mat-form-field >             
          </section> 
        <section  flex-gt-sm="30" >
                    <mat-form-field class="mat-icon-float" >
            <input  matInput  #price name="price" placeholder="Price" [(ngModel)]="itemEdit.price"  currencyMask  >
          </mat-form-field>  
        </section> 
        </div>    

      </section>
    </form>
    <button mat-raised-button color="accent" class="text-upper" (click)="addEntity()" *ngIf="!isEditing"> Add Price </button>
    <button mat-raised-button color="secondary" (click)="cancelEdit()" *ngIf="isEditing">Cancel </button>
    <button mat-raised-button color="primary" (click)="saveEntity()" *ngIf="isEditing">Save </button>


    <section *ngIf="!isEditing">

      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button mat-icon-button (click)="confirmDelete( row)">
            <mat-icon>delete</mat-icon>
          </button>
          </div>
        </ng-template>

      </td-data-table>
      <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize | async"  
      [total]="_totalItems | async"  (change)="change($event)" >
    <span hide-xs>Rows per page:</span>
    <mat-select [style.width.px]="50" [(ngModel)]="tPageSize">
    <mat-option *ngFor="let size of pagesArray" [value]="size">
    {{size}}
    </mat-option>
    </mat-select>
    <span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
    </td-paging-bar>

    </section>
 
  </ng-template>

</td-expansion-panel>