<md-card flex>

  <md-card-content>

    <form #editform="ngForm" flex (ngSubmit)="submitForm(form.value)">
      <section *ngIf="isEditing" flex="100">

        <div class="form-group" flex="100">
          <div layout="column" layout-xs="column">
            <div layout="row">

              <md-input-container>
                <input mdInput #name flex='60' name="name" [(ngModel)]="itemEdit.name" required placeholder="Name" maxlength="150">
              </md-input-container>

              <div flex="40" layout-align="center center">
                <md-radio-group name="eMailTo" [(ngModel)]="itemEdit.eMailTo" class="top15">
                  <md-radio-button style="padding-right:10px;" *ngFor="let eto of emailTo" name="eMailTo" [value]="eto.id"> {{eto.name}}
                  </md-radio-button>
                </md-radio-group>
              </div>
            </div>

          </div>
        </div>

      </section>
    </form>




    <md-divider></md-divider>
    <section>
      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="name" let-value="value" let-row="row" let-column="column">
          <div layout="row">
            <button md-button (click)="editEntity(row.id)">{{value}}</button>
          </div>
        </ng-template>

        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button md-icon-button (click)="confirmDelete(confirmDialog, row)">
            <md-icon>delete</md-icon>
          </button>
          </div>
        </ng-template>

      </td-data-table>
      <td-paging-bar [firstLast]="true" [pageSizeAll]="true" [pageSizes]="pagesArray" [pageSize]="5" [total]="totalItems" (change)="change($event)">
      </td-paging-bar>
    </section>
  </md-card-content>

</md-card>