

      <section *ngIf="isEditing">
<form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>
        <section layout="column" flex="100" layout-margin>

        <div layout-gt-sm="row" layout-lt-sm="column" flex >
           <md-select class="cbxClass" #idProduct name="idProduct" flex required="true" [disabled]="!allowProduct"  placeholder="Product" [(ngModel)]="itemEdit.idProduct"  >
                  <md-option *ngFor="let i of catProduct" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{  i.nameDescription || i.name}} 
                  </md-option>
            </md-select>                  
        </div>


        <div layout-gt-sm="row" layout-lt-sm="column" >
          <md-input-container flex class="">
            <textarea mdInput flex #itemDescription name="itemDescription" maxlength="500"  placeholder="{{ 'DESCRIPTION' | translate }}" [(ngModel)]="itemEdit.itemDescription" ></textarea>
                  <md-hint align="end">{{itemDescription.value.length}} / 150</md-hint>
          </md-input-container>         
        </div>  

        <div layout-gt-sm="row" layout-lt-sm="column" layout-margin >
          <md-input-container flex-gt-xs="25">
            <input mdInput #ItemQuantity name="ItemQuantity" placeholder="{{ 'QUANTITY' | translate}}" [(ngModel)]="itemEdit.itemQuantity" currencyMask [options]="{ prefix: ''}" >
          </md-input-container>
          <md-input-container class="md-icon-float" flex-gt-xs="25">
            <input  mdInput #ItemPrice name="ItemPrice" placeholder="Cost Price" [(ngModel)]="itemEdit.itemPrice" currencyMask >
          </md-input-container>
          <md-input-container class="md-icon-float" flex-gt-xs="25">
            <input  mdInput  #SalePrice name="SalePrice" placeholder="Sale Price" [(ngModel)]="itemEdit.salePrice"  currencyMask  >
          </md-input-container>  
          <md-input-container class="md-icon-float" flex-gt-xs="25">
            <input  mdInput   #Extended name="Extended" placeholder="Extended Price" [(ngModel)]="itemEdit.extended"  currencyMask  >
          </md-input-container>          
        </div> 

        </section>
    </form>
        <crm-purchaseordereditordetailsumary #dSumary name="dSumary" [idDetail]="itemEdit.id" [idProduct]="itemEdit.idProduct" *ngIf="isEditing && itemEdit.id > 0" (onHasSumary)="hasSumary" [maxQty]="itemEdit.Quantity" [price]="itemEdit.SalePrice" ></crm-purchaseordereditordetailsumary>
      </section>



  <section *ngIf="!isEditing">


      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="itemDescription"  let-value="value" let-row="row"  let-column="column">
          <div layout="row" flex>
            <button md-button  (click)="editEntity(row.id)">{{value}}</button>
          </div>
        </ng-template>

        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
          </div>
        </ng-template>

      </td-data-table>

    </section>


