
  <section *ngIf="!isEditing">

      <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="dateUploaded" let-value="value" let-row="row"  let-column="column" >
          <div layout="row">
            {{ value | date}}
          </div>
        </ng-template>
       
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button mat-icon-button (click)="confirmDelete( row)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="downLoad( row)">
            <mat-icon>cloud_download</mat-icon>
          </button>            
          </div>
        </ng-template>

      </td-data-table>
    </ng-template>
    </section>
