
  <section *ngIf="!isEditing">

      <ng-template [tdLoading]="loadName">
      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="dateUploaded" let-value="value" let-row="row"  let-column="column" >
          <div layout="row">
            {{ value | date}}
          </div>
        </ng-template>
       
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
          <button md-icon-button (click)="downLoad( row)">
            <md-icon>cloud_download</md-icon>
          </button>            
          </div>
        </ng-template>

      </td-data-table>
    </ng-template>
    </section>
