<td-layout-nav logo="assets:covalent">

  <td-layout-manage-list #manageList
                        [opened]="(media.registerQuery('lt-sm') | async ) || showSideNav"
                        [mode]="(media.registerQuery('lt-sm') | async) ? 'side' : 'push'"
                        [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '300px'">
    <md-toolbar td-sidenav-content>
      <span>Catalogs</span>
    </md-toolbar>
    <md-nav-list td-sidenav-content>
      <template let-item  ngFor [ngForOf]="catalogs  ">
        <a md-list-item 
          md-ripple class="block relative"
          (click)="!media.query('gt-sm') && manageList.close()"
          [routerLinkActive]="[item.active]"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="[item.routerlink]">
          <md-icon md-list-icon>{{item.icon}}</md-icon>
          {{item.displayName}}
        </a>
      </template>
     
    </md-nav-list>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span class="md-title">{{catalogTitle}}</span>
<div *ngIf="showSearch" flex>
      <td-search-box #searchBox   backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)"
        flex>
      </td-search-box>
</div>
      <button md-mini-fab class="md-mini md-primary" (click)="addItem()" aria-label="Add Item" *ngIf="showAdd">
        <md-icon>add</md-icon>
      </button>
      <p *ngIf="showSave" flex></p>
            <button md-mini-fab class="md-mini md-primary" (click)="saveItem()" aria-label="Save Item" *ngIf="showSave">
        <md-icon>save</md-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </td-layout-manage-list>
</td-layout-nav>


