
 <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
<section *ngIf="isEditing">
  <form #editform="ngForm" id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>


    <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
      <section flex-gt-sm="30">
          <mat-form-field>
          <mat-select class="cbxClass" #idSector name="idSector" flex required="true" placeholder="Select Sector" multiple="true"  [(ngModel)]="sectorSelected">
         
          <mat-option *ngFor="let i of notSelectedProducts " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
            {{ i.nameDescription || i.name}}
          </mat-option>
        </mat-select>            
          </mat-form-field>        

      </section>
    </div>
  </form>
</section>



<section *ngIf="!isEditing">


  <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
    <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
      <div layout="row" flex="5">
        <button mat-icon-button (click)="confirmDelete( row)">
            <mat-icon>delete</mat-icon>
          </button>
      </div>
    </ng-template>

  </td-data-table>
      
  <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize | async"  
  [total]="totalItems | async"  (change)="change($event)" >
<span hide-xs>Rows per page:</span>

<span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
</td-paging-bar>
</section>

 
</ng-template>