
 <ng-template [tdLoading]="loadName">
<section *ngIf="isEditing">
  <form #editform="ngForm" id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>


    <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
      <section flex-gt-sm="30">
        <md2-select class="cbxClass" #idSector name="idSector" flex required="true" placeholder="Select Sector" multiple="true"  [(ngModel)]="sectorSelected">
            <md2-select-header>               
                <section layout-padding>
                    <md-form-field>
                        <input mdInput flex #ssector  placeholder="Search" maxlength="15"  >
                      </md-form-field>
                </section>
             </md2-select-header>           
          <md2-option *ngFor="let i of notSelectedProducts | nameDesc:ssector.value	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
            {{ i.nameDescription || i.name}}
          </md2-option>
        </md2-select>
      </section>
    </div>
  </form>
</section>



<section *ngIf="!isEditing">


  <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
    <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
      <div layout="row" flex="5">
        <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
      </div>
    </ng-template>

  </td-data-table>
  <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize" [total]="totalItems" (change)="change($event)">
    <span hide-xs>Rows per page:</span>
    <md-select [style.width.px]="50" [(ngModel)]="pageSize">
      <md-option *ngFor="let size of pagesArray" [value]="size">
        {{size}}
      </md-option>
    </md-select>
    <span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
  </td-paging-bar>
</section>

 
</ng-template>