
  <td-layout-manage-list #manageList [opened]="_mediaService.registerQuery('gt-sm') | async" [mode]="(_mediaService.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(_mediaService.registerQuery('gt-xs') | async) ? '180px' : '100%'">

    <md-nav-list td-sidenav-content>
        <a md-list-item md-ripple class="block relative" routerLink="/shipping">
          <md-icon md-list-icon>dashboard</md-icon>
          Go to Index
        </a>     

      <a md-list-item md-ripple class="block relative" (click)=" linkClick(1) && (!this._mediaService.query('gt-sm') && this.manageList.close()) ">
        <md-icon md-list-icon>dashboard</md-icon>
        {{ "HEADER" | translate}}
      </a>
      <a md-list-item md-ripple class="block relative" (click)="linkClick(2) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idShipping > 0">
        <md-icon md-list-icon>dashboard</md-icon>
        {{ "DETAILS" | translate}}
      </a>
      <a md-list-item md-ripple class="block relative" (click)="linkClick(3) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idShipping > 0">
        <md-icon md-list-icon>insert_chart</md-icon>
        {{ "DIALOGS" | translate}}
      </a>
      <a md-list-item md-ripple class="block relative" (click)="linkClick(4) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idShipping > 0">
        <md-icon md-list-icon>insert_chart</md-icon>
        {{ "DOCUMENTS" | translate}}
      </a>

    </md-nav-list>

    <md-card>
      <md-card-content>

          <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
              <md-icon>arrow_back</md-icon>
          </button>
          <crm-shippingeditorheader [idDoc]="idShipping"   *ngIf="scrId == 1" [quoteType]="quoteType"></crm-shippingeditorheader>
          <crm-shippingeditordetail [idShipping]="idShipping" [shipData]="shipping"   *ngIf="scrId == 2"></crm-shippingeditordetail>
          <crm-editorbasedialog [idParent]="idShipping" 
          [baseApi]="'ShippingDialog'"
          parentField="idShipping"

          documentBaseApi="ShippingDialogDocument"
          documentParentField="idShippingDialog"
          *ngIf="scrId == 3 "
          catName="Shipping dialog "
          [idCustomer]="idCustomer"
          [quoteType]="quoteType"
          ></crm-editorbasedialog>

  <crm-documentviewer [idParent]="idShipping" baseApi="ShippingDialogDocument" 
  *ngIf="scrId == 4 "
  catName="Shipping Document "></crm-documentviewer>
    
      </md-card-content>
    </md-card>

  </td-layout-manage-list>
