
  <td-layout-manage-list #manageList [opened]="_mediaService.registerQuery('gt-sm') | async" [mode]="(_mediaService.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(_mediaService.registerQuery('gt-xs') | async) ? '180px' : '100%'">

    <mat-nav-list td-sidenav-content>
        <a mat-list-item matRipple class="block relative" (click)="goToInex()">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          Go to Index
        </a>     

      <a mat-list-item matRipple class="block relative" [ngClass]="{menuactive: scrId == 1  }" (click)=" linkClick(1) && (!this._mediaService.query('gt-sm') && this.manageList.close()) ">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        {{ "HEADER" | translate}}
      </a>
      <a mat-list-item matRipple class="block relative" [ngClass]="{menuactive: scrId == 2 }" (click)="linkClick(2) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idQuotation > 0">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        {{ "DETAILS" | translate}}
      </a>
      <a mat-list-item matRipple class="block relative" [ngClass]="{menuactive: scrId == 3  }" (click)="linkClick(3) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idQuotation > 0">
        <mat-icon mat-list-icon>insert_chart</mat-icon>
        {{ "DIALOGS" | translate}}
      </a>
      <a mat-list-item matRipple class="block relative" [ngClass]="{menuactive: scrId == 4  }" (click)="linkClick(4) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idQuotation > 0">
        <mat-icon mat-list-icon>insert_chart</mat-icon>
        {{ "DOCUMENTS" | translate}}
      </a>
      <section mat-list-item *ngIf="shipping != undefined">
        <p> Subtotal: {{shipping.subtotal | currency}} </p>
        <p> Tax: {{shipping.tax | percent}} </p>
        <p> Tax Amount: {{shipping.taxAmount | currency}} </p>
        <p> Total: {{shipping.total | currency}} </p>
      </section>
    </mat-nav-list>

    <mat-card>
      <mat-card-content>

          <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
              <mat-icon>arrow_back</mat-icon>
          </button>
          <crm-shippingeditorheader [idDoc]="idQuotation"   *ngIf="scrId == 1" 
          [quoteType]="quoteType"
          [itemRoute]="itemRoute"></crm-shippingeditorheader>
          <crm-shippingeditordetail [idShipping]="idQuotation" [shipData]="shipping"   
          *ngIf="scrId == 2"  (onUpdateTotal)="updateTotal($event)"></crm-shippingeditordetail>
          <crm-editorbasedialog [idParent]="idQuotation" 
          [baseApi]="'ShippingDialog'"
          parentField="idShipping"

          documentBaseApi="ShippingDialogDocument"
          documentParentField="idShippingDialog"
          *ngIf="scrId == 3 "
          catName="Shipping dialog"
          [idCustomer]="idCustomer"
          [quoteType]="quoteType"
          ></crm-editorbasedialog>

  <crm-documentviewer [idParent]="idQuotation" baseApi="ShippingDialogDocument" 
  *ngIf="scrId == 4 "
  catName="Shipping Document "></crm-documentviewer>
    
      </mat-card-content>
    </mat-card>

  </td-layout-manage-list>

