
<section layout="row">
    <section flex="95"></section>
    <section flex="5">
      <button md-mini-fab class="md-mini md-primary" (click)="addEntity()" aria-label="Add Status" *ngIf="!isEditing">
          <md-icon>add</md-icon>
        </button>
  
    </section>
  </section>
  
  
  <section flex *ngIf="!isEditing">
    <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
      <ng-template tdDataTableTemplate="pOrder" let-value="value" let-row="row" let-column="column">
        <button md-button (click)="editEntity(row.id)">{{value}}</button>
  
      </ng-template>
      <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
        <div layout="row" flex="5">
  
          <button md-icon-button (click)="confirmDelete(row)">
              <md-icon>delete</md-icon>
            </button>
        </div>
      </ng-template>
  
    </td-data-table>
  </section>
  
  <form #editform="ngForm" id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>
  
    <section flex layout="row" *ngIf="isEditing">
        <ng-template [tdLoading]="loadName">
      <section flex="25"></section>
      <section  flex="50">
  
        <section layout="column" flex="100" layout-margin>
 
          <md2-select class="cbxClass" #idStatus name="idStatus" flex required="true" placeholder="Status" [(ngModel)]="itemEdit.idStatus">
              <md2-select-header>               
                  <section layout-padding>
                    <md-form-field>
                      <input mdInput flex #sstatus  placeholder="Search" maxlength="15"  >
                      </md-form-field>
                  </section>
                 </md2-select-header>           
            <md2-option *ngFor="let i of allStatus | nameDesc:sstatus.value	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
              {{ i.name }} [ {{i.description}} ]
            </md2-option>
          </md2-select>
          <md-checkbox #allowChild flex name="allowChild" [(ngModel)]="itemEdit.allowChild">Allow Child</md-checkbox>
          <md-checkbox #isEditable flex name="isEditable" [(ngModel)]="itemEdit.isEditable">Is Editable</md-checkbox>
          
        </section>
        <div layout="row" flex layout-align="end center">
          <button md-button type="button" class="md-icon-button md-primary" (click)="cancelEdit()" aria-label="Cancel">
                     <md-icon>highlight_off</md-icon>
                      </button>
          <button md-button type="button" class="md-icon-button md-primary" (click)="saveEntity()" [disabled]="!editform.valid" aria-label="Save Property">
                     <md-icon>save</md-icon>
            </button>
  
        </div>
  
      </section>
      <section flex="25"></section>
    </ng-template>
    </section>
  
  </form>
  
  
