
<section layout="row">
    <section flex="95"></section>
    <section flex="5">
      <button mat-mini-fab class="md-mini md-primary" (click)="addEntity()" aria-label="Add Status" *ngIf="!isEditing">
          <mat-icon>add</mat-icon>
        </button>
  
    </section>
  </section>
  
  
  <section flex *ngIf="!isEditing">
    <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
      <ng-template tdDataTableTemplate="pOrder" let-value="value" let-row="row" let-column="column">
        <button mat-button (click)="editEntity(row.id)">{{value}}</button>
  
      </ng-template>
      <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
        <div layout="row" flex="5">
  
          <button mat-icon-button (click)="confirmDelete(row)">
              <mat-icon>delete</mat-icon>
            </button>
        </div>
      </ng-template>
  
    </td-data-table>
  </section>
  
  <form #editform="ngForm" id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>
  
    <section flex layout="row" *ngIf="isEditing">
        <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
      <section flex="25"></section>
      <section  flex="50">
  
        <section layout="column" flex="100" layout-margin>
            <mat-form-field>
            <mat-select class="cbxClass" #idStatus name="idStatus" flex required="true" placeholder="Status" [(ngModel)]="itemEdit.idStatus">
           
            <mat-option *ngFor="let i of allStatus 	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
              {{ i.name }} [ {{i.description}} ]
            </mat-option>
          </mat-select>              
            </mat-form-field>

          <mat-checkbox #allowChild flex name="allowChild" [(ngModel)]="itemEdit.allowChild">Allow Child</mat-checkbox>
          <mat-checkbox #isEditable flex name="isEditable" [(ngModel)]="itemEdit.isEditable">Is Editable</mat-checkbox>
          
        </section>
        <div layout="row" flex layout-align="end center">
          <button mat-button type="button" class="mat-icon-button md-primary" (click)="cancelEdit()" aria-label="Cancel">
                     <mat-icon>highlight_off</mat-icon>
                      </button>
          <button mat-button type="button" class="mat-icon-button md-primary" (click)="saveEntity()" [disabled]="!editform.valid" aria-label="Save Property">
                     <mat-icon>save</mat-icon>
            </button>
  
        </div>
  
      </section>
      <section flex="25"></section>
    </ng-template>
    </section>
  
  </form>
  
  
