<mat-card flex>

  <mat-card-content>
      <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
      <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>
      <section *ngIf="isEditing">

        <div layout="row" >
            <mat-form-field flex>
                <input matInput #name flex name="name" [(ngModel)]="itemEdit.name" required placeholder="Name" maxlength="150">
                <mat-hint align="end">{{name.value.length}} / 150</mat-hint>
              </mat-form-field>
          </div>

          <div layout="row" >
              <mat-form-field flex>
                  <input matInput #description flex name="description" [(ngModel)]="itemEdit.description" required placeholder="Description"
                    maxlength="150">
                  <mat-hint align="end">{{description.value.length}} / 150</mat-hint>
                </mat-form-field>           
              </div>

        <div flex="20">
            
                        <mat-form-field class="example-full-width">
                          <input matInput #aSign name="aSign" [(ngModel)]="itemEdit.aSign" required placeholder="Sign" value="" maxlength="50">
                          <mat-hint align="end">{{aSign.value.length}} / 50</mat-hint>
                        </mat-form-field>
            
                      </div>
      </section>
    </form>

    <section *ngIf="!isEditing">

      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="name" let-value="value" let-row="row" let-column="column">
          <div layout="row">
            <button mat-button (click)="editEntity(row.id)">{{value}}</button>
          </div>
        </ng-template>

        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button mat-icon-button (click)="confirmDelete( row)">
            <mat-icon>delete</mat-icon>
          </button>
          </div>
        </ng-template>

      </td-data-table>


      <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize | async"  
                  [total]="_totalItems | async"  (change)="change($event)" >
        <span hide-xs>Rows per page:</span>
        <mat-select [style.width.px]="50" [(ngModel)]="tPageSize">
          <mat-option *ngFor="let size of pagesArray" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>
        <span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
      </td-paging-bar>



    </section>
  </ng-template>
  </mat-card-content>

</mat-card>