<td-layout>
  <td-layout-card-over cardTitle="Send E-Mail">

    <div layout-margin>
      <form #editform="ngForm" id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>
          <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
        <section>

          <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
              <mat-form-field>
             <mat-select flex options="allContacts" class="cbxClass" placeholder="Sent to" (change)="onContactChange($event.value)">

              <mat-option class="selectable" *ngFor="let sto of allContacts  	" [value]="sto.eMail" [disabled]="!sto.isActive || false">
                {{ sto.name }}
                < {{sto.eMail}} >
              </mat-option>
            </mat-select>                 
              </mat-form-field>

          </div>
          <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
            
            <mat-chip-list>
              <mat-chip *ngFor="let em of itemEdit.eMailTo; index as idx"> {{em.name}}
                <a (click)="deleteContact(idx)">
                  <mat-icon class="tc-red-700 md-caption">clear</mat-icon>
                </a>
              </mat-chip>
            </mat-chip-list>
          </div>
          <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
            <mat-form-field flex>
              <input matInput placeholder="Subject" matInput flex #eMailSubject name="eMailSubject" [(ngModel)]="itemEdit.eMailSubject">
            </mat-form-field>
          </div>
          <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
            <ckeditor #eMailBody flex="100" placeholder="Body" name="eMailBody" [(ngModel)]="itemEdit.eMailBody" debounce="500">
            </ckeditor>
          </div>

              <td-expansion-panel label="Documents added"  expand="true">
                  <div flex>
                      <mat-list>
                        <mat-list-item *ngFor="let doc of itemEdit.emailAttachments">
                          <mat-checkbox name="DocSelected" [(ngModel)]="doc.selected">  </mat-checkbox> &nbsp;
                          <a (click)="downloadAttachment(doc)">{{doc.docTypeName}} - {{doc.docName}}</a>
                        </mat-list-item>
                      </mat-list>
                    </div>
        

              </td-expansion-panel>



        </section>
      </ng-template>
      </form>
    </div>
    <td-layout-footer color="primary"> 
          <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span flex></span>

            <button mat-mini-fab class="" (click)="cancelEdit()" aria-label="Cancel" >
                <mat-icon>undo</mat-icon>
            </button> &nbsp;
                <button mat-mini-fab class="" (click)="sendEmail()" aria-label="SendEmail">
                <mat-icon>email</mat-icon>
            </button>

          </div>
  </td-layout-footer>
  </td-layout-card-over>


</td-layout>