<md-card>
  <md-card-content>
    <form #f="ngForm" flex (ngSubmit)="submitForm(form.value)">
      <section *ngIf="isEditing">
        <section layout="column" flex="100" layout-margin>
          <md-input-container>
            <input mdInput #name flex name="name" [(ngModel)]="itemEdit.Name" required placeholder="Name" maxlength="150" />
            <md-hint align="end">{{name.value.length}} / 150</md-hint>
          </md-input-container>
          <md-input-container>
            <input mdInput #description flex name="description" [(ngModel)]="itemEdit.Description" required placeholder="Description"
              maxlength="150">
            <md-hint align="end">{{description.value.length}} / 150</md-hint>
          </md-input-container>


        </section>
        <div layout="row" flex layout-align="end center">
          <button md-button type="button" class="md-icon-button md-primary" (click)="cancelEdit()" aria-label="Cancel">
                   <md-icon>highlight_off</md-icon>
                    </button>
          <button md-button type="button" class="md-icon-button md-primary" (click)="saveEntity()" [disabled]="!f.valid" aria-label="Save Item">
                   <md-icon>save</md-icon>
          </button>

        </div>
      </section>
    </form>


    <section *ngIf="!isEditing">


      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="Name" let-value="value" let-row="row"  let-column="column">
          <div layout="row">
            <button md-button (click)="editEntity(row.Id)">{{value}}</button>
          </div>
        </ng-template>
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
          </div>
        </ng-template>

      </td-data-table>
      <td-paging-bar [firstLast]="true" [pageSizeAll]="true" [pageSizes]="pagesArray" [pageSize]="pageSize" [total]="totalItems"
        (change)="change($event)">
      </td-paging-bar>
    </section>
  </md-card-content>
</md-card>