<section layout="row">
  <section flex="95"></section>
  <section flex="5">
    <button md-mini-fab class="md-mini md-primary" (click)="addProperty()" aria-label="Add Property" *ngIf="!isEditProp">
        <md-icon>add</md-icon>
      </button>

  </section>
</section>

<section flex *ngIf="!isEditProp">
  <td-data-table [data]="propList | async " [columns]="propColumns">
    <ng-template tdDataTableTemplate="POrder" let-value="value" let-row="row" let-column="column">
      <button md-button (click)="editProperty(row)">{{value}}</button>

    </ng-template>
    <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
      <div layout="row" flex="5">

        <button md-icon-button (click)="deleteProperty(row)">
            <md-icon>delete</md-icon>
          </button>
      </div>
    </ng-template>

  </td-data-table>
</section>

<form #fprop="ngForm" flex (ngSubmit)="submitProperty(fprop.value)">
  <section flex layout="row">
    <section flex="25"></section>
    <section *ngIf="isEditProp" flex="50">
      <section layout="column" flex="100" layout-margin>
        <md-input-container>
          <input mdInput type="number" #POrder flex name="POrder" [(ngModel)]="propEdit.POrder" required placeholder="Order" maxlength="150">
        </md-input-container>

<crm-select #IdProperty name="IdProperty" catalog="Property" placeholder="Select Property" [(ngModel)]="propEdit.idProperty"></crm-select>

        <md-checkbox #IsRequired flex name="IsRequired" [(ngModel)]="propEdit.IsRequired">Required</md-checkbox>
      </section>
      <div layout="row" flex layout-align="end center">
        <button md-button type="button" class="md-icon-button md-primary" (click)="cancelEditProp()" aria-label="Cancel">
                   <md-icon>highlight_off</md-icon>
                    </button>
        <button md-button type="button" class="md-icon-button md-primary" (click)="saveProp(propEdit)" [disabled]="!fprop.valid"
          aria-label="Save Property">
                   <md-icon>save</md-icon>
          </button>

      </div>
    </section>
    <section flex="25"></section>
  </section>
</form>