<td-layout-nav >
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>{{ 'HOME.MENU.QUOTATIONFROMSUPPLIER.DISPLAYNAME' | translate }}</span>
    <div flex></div>
  </div>
  <td-layout-manage-list #manageList [opened]="_mediaService.registerQuery('gt-sm') | async" [mode]="(_mediaService.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(_mediaService.registerQuery('gt-xs') | async) ? '180px' : '100%'">
    <md-toolbar td-sidenav-content>
       <button md-button routerLink="/quotationfromsupplier">Go to Index</button>
    </md-toolbar>
    <md-nav-list td-sidenav-content>
      <a md-list-item md-ripple class="block relative" (click)=" linkClick(1) && (!this._mediaService.query('gt-sm') && this.manageList.close()) ">
        <md-icon md-list-icon>dashboard</md-icon>
        {{ "HEADER" | translate}}
      </a>
      <a md-list-item md-ripple class="block relative" (click)="linkClick(2) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idQuotation > 0">
        <md-icon md-list-icon>dashboard</md-icon>
        {{ "DETAILS" | translate}}
      </a>
      <a md-list-item md-ripple class="block relative" (click)="linkClick(3) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idQuotation > 0">
        <md-icon md-list-icon>insert_chart</md-icon>
        {{ "DIALOGS" | translate}}
      </a>
      <a md-list-item md-ripple class="block relative" (click)="linkClick(4) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idQuotation > 0">
        <md-icon md-list-icon>insert_chart</md-icon>
        {{ "DOCUMENTS" | translate}}
      </a>
      <a md-list-item md-ripple class="block relative" (click)="linkClick(5) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idQuotation > 0">
        <md-icon md-list-icon>insert_chart</md-icon>
        Quotation to Customer
      </a>      
    </md-nav-list>

    <div td-toolbar-content layout="row" layout-align="start center" flex>

      <crm-gactions flex></crm-gactions>
      <button md-mini-fab class="" tooltip="Go to Opportunity" (click)="goToUpp()" aria-label="Add Item" *ngIf="scrId == 1"  >
          <md-icon>business</md-icon>
      </button>
    </div>

       <div flex>
    <md-card>
      <md-card-content>

        <crm-quotationfromsupplierheader [idQuotation]="idQuotation"  *ngIf="scrId == 1"></crm-quotationfromsupplierheader>

        <crm-quotationfromsupplierdetail [idQuotation]="idQuotation" *ngIf="scrId == 2 "></crm-quotationfromsupplierdetail>

        <crm-quotationfromsupplierdialogs [idQuotation]="idQuotation" *ngIf="scrId == 3 "></crm-quotationfromsupplierdialogs>
<!--
        <crm-opportunitydocuments [idQuotation]="idQuotation" *ngIf="scrId == 4 "></crm-opportunitydocuments>-->


        <crm-quotationtocustomerindexviewer [idQFS]="idQuotation" *ngIf="scrId == 5 "></crm-quotationtocustomerindexviewer>

      </md-card-content>
    </md-card>
</div>
  </td-layout-manage-list>
</td-layout-nav>