<ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay" >
<section *ngIf="isEditing">
   <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>
    <section layout="column" flex="100" layout-margin>
      <div layout-gt-sm="row" layout-lt-md="column" flex>
        <crm-select flex #IdDocumentType name="IdDocumentType" catalog="DocumentType" placeholder="Document Type"
          [(ngModel)]="itemEdit.idDocumentType"></crm-select>
      </div>
      <div layout-gt-sm="row" layout-lt-md="column" flex>
        <mat-form-field flex class="">
          <textarea matInput flex #comment name="comment" maxlength="1500" placeholder="Comments" [(ngModel)]="itemEdit.comment"></textarea>
          <mat-hint align="end">{{comment.value.length}} / 1500</mat-hint>
        </mat-form-field>
      </div>


      <div layout-gt-sm="row" layout-lt-md="column" flex>
        <mat-form-field tdFileDrop  (fileDrop)="files = $event" (click)="fileInput.inputElement.click()"
          (keyup.enter)="fileInput.inputElement.click()" (keyup.delete)="fileInput.clear()" (keyup.backspace)="fileInput.clear()"
          flex>
          <input matInput placeholder="select or drop file" [value]="files?.length ? (files?.length + ' file') : files?.name" [disabled]="disabled"
            readonly/>
        </mat-form-field>
        <button mat-icon-button *ngIf="files" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()">
          <mat-icon>cancel</mat-icon>
        </button>
        <td-file-input class="push-left-sm push-right-sm" #fileInput name="fileInput" [(ngModel)]="files"  >
          <mat-icon>folder</mat-icon>
          <span class="text-upper">Browse...</span>
        </td-file-input>
      </div>
    </section>

  </form>
</section>

  <section *ngIf="!isEditing" flex>


      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="false" flex >
        <ng-template tdDataTableTemplate="dateUploaded" let-value="value" let-row="row"  let-column="column" >
          <div layout="row">
            {{ value | date}}
          </div>
        </ng-template>
       
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button mat-icon-button (click)="confirmDelete( row)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="downLoad( row)">
            <mat-icon>cloud_download</mat-icon>
          </button>            
          </div>
        </ng-template>

      </td-data-table>
      <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize | async"  
      [total]="_totalItems | async"  (change)="change($event)" >
    <span hide-xs>Rows per page:</span>
    <mat-select [style.width.px]="50" [(ngModel)]="tPageSize">
    <mat-option *ngFor="let size of pagesArray" [value]="size">
    {{size}}
    </mat-option>
    </mat-select>
    <span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
    </td-paging-bar>
    </section>
  </ng-template>