<md-card flex>
  <md-card-title>Documents</md-card-title>
  <md-card-subtitle>
    <button md-raised-button color="accent" class="text-upper" (click)="addEntity()" *ngIf="!isEditing"> Add Document </button>
  </md-card-subtitle>
  <md-card-content>

   
<section *ngIf="isEditing">
   <form #docForm="ngForm"  id="docForm" flex (ngSubmit)="submitForm(docForm)" novalidate>
      <ng-template [tdLoading]="loadName">
    <button  md-raised-button color="primary"  >Save </button>
    <button md-raised-button color="secondary" (click)="cancelEdit()" >Cancel </button>


    <section layout="column" flex="100" layout-margin>
      <div layout-gt-sm="row" layout-lt-md="column" flex>
        <crm-select flex #IdDocumentType name="IdDocumentType" catalog="DocumentType" placeholder="Document Type"
          [(ngModel)]="itemEdit.idDocumentType"></crm-select>
      </div>
      <div layout-gt-sm="row" layout-lt-md="column" flex>
        <md-form-field flex class="">
          <textarea mdInput flex #DNotes name="DNotes" maxlength="150" placeholder="{{ 'NOTES' | translate }}" [(ngModel)]="itemEdit.dNotes"></textarea>
          <md-hint align="end">{{DNotes.value.length}} / 150</md-hint>
        </md-form-field>
      </div>


      <div layout-gt-sm="row" layout-lt-md="column" flex>
        <md-form-field tdFileDrop  (fileDrop)="files = $event" (click)="fileInput.inputElement.click()"
          (keyup.enter)="fileInput.inputElement.click()" (keyup.delete)="fileInput.clear()" (keyup.backspace)="fileInput.clear()"
          flex>
          <input mdInput placeholder="select or drop file" [value]="files?.length ? (files?.length + ' file') : files?.name" [disabled]="disabled"
            readonly/>
        </md-form-field>
        <button md-icon-button *ngIf="files" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()">
          <md-icon>cancel</md-icon>
        </button>
        <td-file-input class="push-left-sm push-right-sm" #fileInput name="fileInput" [(ngModel)]="files"  >
          <md-icon>folder</md-icon>
          <span class="text-upper">Browse...</span>
        </td-file-input>
      </div>
    </section>
  </ng-template>
  </form>
</section>

    <section flex *ngIf="!isEditing">

      <td-data-table flex [columns]="columns" [data]="entList | async" [sortable]="false">
        <ng-template tdDataTableTemplate="dateUploaded" let-value="value" let-row="row" let-column="column">
          <span> {{ value | date}} </span>
        </ng-template>        
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">
            <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
          <button md-icon-button (click)="downLoad( row)">
            <md-icon>cloud_download</md-icon>
          </button>          
          </div>
        </ng-template>

      </td-data-table>
      <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize" [total]="totalItems" (change)="change($event)">
        <span hide-xs>Rows per page:</span>
        <md-select [style.width.px]="50" [(ngModel)]="pageSize">
          <md-option *ngFor="let size of pagesArray" [value]="size">
            {{size}}
          </md-option>
        </md-select>
        <span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
      </td-paging-bar>
    </section>

  </md-card-content>

</md-card>