<td-layout #layout>

  <td-navigation-drawer logo="assets:logocrm" sidenavTitle="CRM Salzgitter" name="rafael.esteban" email="firstname.lastname@company.com">

      
     <template let-item  ngFor [ngForOf]="routes">
        <td-expansion-panel [label]="item.title"  [expand]="false" >
              <md-nav-list td-sidenav-content>
          <template let-mitem  ngFor [ngForOf]="item.childrens">
            <a md-list-item  md-ripple [routerLink]="[item.route + '/' + mitem.routerlink]" ><md-icon>{{mitem.icon}}</md-icon>{{mitem.displayName}}</a>

          </template>
              </md-nav-list>
      </td-expansion-panel>      

     </template>

    <md-nav-list td-navigation-drawer-menu>
      <a md-list-item (click)="logout()"><md-icon>exit_to_app</md-icon>Sign out</a>
    </md-nav-list>
  </td-navigation-drawer>
  <router-outlet></router-outlet>
</td-layout>
