<ng-template [tdLoading]="loadName">
<form #editform="ngForm" id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>
  <section *ngIf="isEditing">
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      <h3 >Please fill data in items that you want to add</h3>
    </div>
    <td-expansion-panel-group>
      <td-expansion-panel *ngFor="let po of poDetails " [label]="'PO#: ' + po.po">
        <md-card class="example-card" *ngFor="let pod of po.items " flex>
          <md-card-header> 
            <md-card-title>{{pod.itemDescription }} </md-card-title>
            <md-card-subtitle>
                {{ pod.sumaryDescription}} <br/>
                <div layout-gt-sm="row" layout-lt-md="column">
                  <div flex-gt-sm="30" flex-lt-md="100">
                      <span  >Qty Ordered: {{pod.qtySum | number}}</span>
                  </div>
                  <div flex-gt-sm="30" flex-lt-md="100">
                      <span >Qty Shipped: {{pod.qtyShipSum | number}}</span>
                  </div>
                  <div flex-gt-sm="30" flex-lt-md="100">
                      <span >Balance: {{ (pod.qtySum - pod.qtyShipSum )  | number}}</span>
                  </div>
                 
              
                 
                </div>
             </md-card-subtitle>
          </md-card-header>

          <md-card-content>


            <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
              <md-form-field flex-gt-sm="30">
                <input mdInput [name]="'qty' + pod.idDetailSum" [(ngModel)]="pod.qtyInShipping" placeholder="Ship Qty" currencyMask [options]="{ prefix: '', allowNegative : false}" >
              </md-form-field>

              <md-form-field flex-gt-sm="30">
                <input mdInput [name]="'price' + pod.idDetailSum" [(ngModel)]="pod.priceSum" placeholder="Price" currencyMask [options]="{ allowNegative : false }">
              </md-form-field>
              <md-form-field flex-gt-sm="40">
                <input mdInput [name]="'amount' + pod.idDetailSum"  disabled placeholder="Amount" value="{{ (pod.qtyInShipping * pod.priceSum) | currency }}" >
              </md-form-field>
            </div>
          </md-card-content>

        </md-card>

      </td-expansion-panel>

    </td-expansion-panel-group>

  </section>
</form>


<section *ngIf="!isEditing" >

  
  <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
    <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
        <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
    </ng-template>
    <ng-template tdDataTableTemplate="itemDescription" let-value="value" let-row="row" let-column="column">
      <span [tooltip]="row.itemDescription">{{value | maxString}}</span>
      </ng-template>
    <ng-template tdDataTableTemplate="sumaryDescription" let-value="value" let-row="row" let-column="column">
        <span [tooltip]="row.sumaryDescription">{{value | maxString}}</span>
        </ng-template>
      </td-data-table>
    
  <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize" [total]="totalItems" (change)="change($event)">
    <span hide-xs>Rows per page:</span>
    <md-select [style.width.px]="50" [(ngModel)]="pageSize">
      <md-option *ngFor="let size of pagesArray" [value]="size">
        {{size}}
      </md-option>
    </md-select>
    <span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
  </td-paging-bar>
</section>

</ng-template>