      <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(form)" novalidate>
          <ng-template [tdLoading]="loadName">
        <div layout-gt-sm="row" layout-lt-md="column" layout-padding>
          <div  flex-gt-sm="30" >
            <md2-datepicker  #shipDate name="shipDate" placeholder="Date Created" disabled="true" [(ngModel)]="itemEdit.shipDate"></md2-datepicker>
          </div>   
          
          <div  flex-gt-sm="35" >
            <md2-select class="cbxClass" role="listbox" #idCurrency name="idCurrency" flex required="true"  placeholder="Currency" [(ngModel)]="itemEdit.idCurrency"  >

                  <md2-option *ngFor="let i of catCurrencies " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>
          </div>    
          <div  flex-gt-sm="35" >
            <md2-select class="cbxClass" #idStatus name="idStatus" flex disabled="true"  placeholder="Status" [(ngModel)]="itemEdit.idStatus"  >
                <md2-select-header>               
                    <section layout-padding>
                      <md-form-field>
                        <input mdInput flex #sstatus  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                    </section>
                   </md2-select-header>               
                  <md2-option *ngFor="let i of catStatus | nameDesc:sstatus.value	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select> 
          </div>     

                  
        </div>      
 
        
        

        <div layout-gt-sm="row" layout-lt-md="column" layout-padding>
            <md2-select class="cbxClass" #idCustomer name="idCustomer" flex required="true"  placeholder="Customer" [(ngModel)]="itemEdit.idCustomer" (change)="onCustomerChange($event)"  >
                <md2-select-header> 
                    <section layout-padding>
                      <md-form-field>
                          <input mdInput flex #scustomer  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                      </section>
                  </md2-select-header>              
                  <md2-option *ngFor="let i of catCustomer | nameDesc:scustomer.value" role="option" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>   
       </div>

        <div flex layout-gt-sm="row" layout-lt-md="column" layout-padding>
          <md-form-field flex >
            <textarea mdInput flex="100"  #shipNotes name="shipNotes" maxlength="500" required  placeholder="Comments " [(ngModel)]="itemEdit.shipNotes" ></textarea>
             <md-hint flex align="end">{{shipNotes.value.length}} / 500</md-hint>
          </md-form-field>         
        </div>  
        
        
        <div layout-gt-sm="row" layout-lt-md="column" layout-padding>
          <section  flex-gt-sm="30" >
           <md2-select class="cbxClass" #idPort name="idPort" flex required="true"  placeholder="Port" [(ngModel)]="itemEdit.idPort"  >
              <md2-select-header> 
                  <section layout-padding>
                    <md-form-field>
                        <input mdInput flex #sport  placeholder="Search" maxlength="15"  >
                      </md-form-field>
                    </section>
                </md2-select-header>               
                  <md2-option *ngFor="let i of catPort | nameDesc:sport.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>   
          </section>    
         <section  flex-gt-sm="35" >
            <md2-select class="cbxClass" #idMill name="idMill" flex  placeholder="Mill" [(ngModel)]="itemEdit.idMill" (change)="onMillChange($event)"  >
                <md2-select-header> 
                    <section layout-padding>
                      <md-form-field>
                          <input mdInput flex #smill  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                      </section>
                  </md2-select-header>                
                  <md2-option *ngFor="let i of catMill | nameDesc:smill.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select> 
          </section>             
          <section  flex-gt-sm="35" >
            <md2-select class="cbxClass" #idCountryOrigin name="idCountryOrigin" flex  placeholder="Country" [(ngModel)]="itemEdit.idCountryOrigin"   >
                <md2-select-header>               
                <section layout-padding>
                    <md-form-field>
                        <input mdInput flex #scountry  placeholder="Search" maxlength="15"  >
                      </md-form-field>
                    </section>
                </md2-select-header>                
                  <md2-option *ngFor="let i of catCountry | nameDesc:scountry.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.idCountry">
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select> 
          </section>           
        </div>

        <div layout-gt-sm="row" layout-lt-md="column" layout-padding >
          <section flex-gt-sm="20" >
            <md2-select class="cbxClass" #idIncoTerm name="idIncoTerm" flex required="true"  placeholder="Inco Terms" [(ngModel)]="itemEdit.idIncoTerm" (change)="incoTermChange($event)"  >
                <md2-select-header>               
                    <section layout-padding>
                        <md-form-field>
                            <input mdInput flex #sincoterm  placeholder="Search" maxlength="15"  >
                          </md-form-field>
                        </section>
                    </md2-select-header>               
                  <md2-option *ngFor="let i of catIncoTerm | nameDesc:sincoterm.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>  
          </section>  
          <section flex-gt-sm="20" >
           <md2-select class="cbxClass" #idLinerTerm name="idLinerTerm" flex required="true"  placeholder="Liner Terms" [(ngModel)]="itemEdit.idLinerTerm"  >
              <md2-select-header>               
                  <section layout-padding>
                      <md-form-field>
                          <input mdInput flex #slinerterm  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                      </section>
                  </md2-select-header>               
                  <md2-option *ngFor="let i of catLinerTerm | nameDesc:slinerterm.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>    
          </section>  
          <section flex-gt-sm="35">
              <md-form-field>
                <input mdInput #blNumber flex name="blNumber" [(ngModel)]="itemEdit.blNumber" required="true" placeholder="BL Number" maxlength="150">
                <md-hint align="end">{{blNumber.value.length}} / 150</md-hint>
              </md-form-field>
            </section>
            <section flex-gt-sm="35">
              <md-form-field>
                <input mdInput #vesselName flex name="vesselName" [(ngModel)]="itemEdit.vesselName" required="true" placeholder="Vessel Name" maxlength="150">
                <md-hint align="end">{{vesselName.value.length}} / 150</md-hint>
              </md-form-field>
            </section>          

        </div>

        
        <div layout-gt-sm="row" layout-lt-md="column" layout-padding *ngIf="deliveryRequired">
            <section flex  >     
     
                            <md2-select class="cbxClass" #idDeliveryPoint name="idDeliveryPoint" flex required="true"  placeholder="Delivery Point" [(ngModel)]="itemEdit.idDeliveryPoint"  >
                                <md2-select-header>               
                                    <section layout-padding>
                                        <md-form-field>
                                            <input mdInput flex #sdelivery  placeholder="Search" maxlength="15"  >
                                          </md-form-field>
                                        </section>
                                    </md2-select-header>                
                                  <md2-option *ngFor="let i of catDeliveryPoint  | nameDesc:sdelivery.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                                    {{ i.cDPName }} 
                                  </md2-option>
                            </md2-select>     
                            </section>  
        </div>


        <div layout-gt-sm="row" layout-lt-md="column" layout-padding>
          <section  flex-gt-sm="30" >
            <md2-datepicker  #etd name="etd" placeholder="ETD" required="true" [(ngModel)]="itemEdit.etd"></md2-datepicker>
          </section> 

          <section  flex-gt-sm="35" >
            <md2-datepicker  #eta name="eta" placeholder="ETA" required="true" [(ngModel)]="itemEdit.eta"></md2-datepicker>
          </section> 
          <section  flex-gt-sm="35" >
            <md2-datepicker  #blDate name="blDate" placeholder="BL Date"  [(ngModel)]="itemEdit.blDate"></md2-datepicker>
          </section>  
 
        <section  flex-gt-sm="30" >
            <md2-datepicker  #ada name="ada" placeholder="ADA"  [(ngModel)]="itemEdit.ada"></md2-datepicker>
          </section> 
        </div> 
      </ng-template>
      </form>