<md-card>
  <md-card-content>



    <form #f="ngForm" flex (ngSubmit)="submitForm(form.value)">

      <div layout="row" flex="100" layout-margin>

        <md-input #companyName flex-gt-xs="100" name="companyName" [(ngModel)]="itemEdit.companyName" required placeholder="Company Name"
          maxlength="250">
          <md-hint align="end">{{companyName.characterCount}} / 250</md-hint>
        </md-input>

      </div>
        <div layout="row" layout-xs="column" flex="100" layout-margin>
    
        <md-input #legalResponsible flex-gt-xs="50" name="legalResponsible" [(ngModel)]="itemEdit.legalResponsible" required placeholder="Legal Responsible"
          maxlength="150" value="">
          <md-hint align="end">{{legalResponsible.characterCount}} / 150</md-hint>
        </md-input>

          <md-input #phone flex-gt-xs="25" name="phone" [(ngModel)]="itemEdit.phone" required placeholder="Phone" maxlength="50">
            <md-hint align="end">{{phone.characterCount}} / 50</md-hint>
          </md-input>
          <md-input #fax flex-gt-xs="25" name="fax" [(ngModel)]="itemEdit.fax"  placeholder="Fax" maxlength="50" value="">
            <md-hint align="end">{{fax.characterCount}} / 50</md-hint>
          </md-input>
        </div>

        <div layout="row" layout-xs="column" flex="100" layout-margin>
          <md-input #street flex-gt-xs="40" name="street" [(ngModel)]="itemEdit.street" required placeholder="Street Name" maxlength="150">
            <md-hint align="end">{{street.characterCount}} / 150</md-hint>
          </md-input>
          <md-input #number flex-gt-xs="15" name="number" [(ngModel)]="itemEdit.number" required placeholder="Number" maxlength="50" value="">
            <md-hint align="end">{{number.characterCount}} / 50</md-hint>
          </md-input>

          <md-input #zipCode flex-gt-xs="15" flex-xs="100" (change)="zipChange($event.target.value)" name="zipCode" [ngModel]="itemEdit.zipCode"
            required placeholder=" Zip Code" maxlength="15">
            <md-hint align="end">{{zipCode.characterCount}} / 15</md-hint>
          </md-input>
          
          <div flex-gt-xs="30" >
            <cbx-colony [itemEdit]="itemEdit" #colony itmrequired="true" cplaceholder="Colony"></cbx-colony>
          </div>
        </div>


      <section>


        <h3 class="md-title">Company Logo</h3>
        <div layout="row" layout-xs="column" flex="100" layout-margin>
          <input type="file" tdFileSelect defaultColor="accent" activeColor="warm" cancelColor="primary" accept=".png,.jpg,.jpeg" />

          <img id="imgLogo" src="data:image/png;base64,{{itemEdit.logo}}">

        </div>

      </section>



      <div layout="row" flex layout-align="end center">
        <button md-button type="button" class="md-icon-button md-primary" (click)="cancelEdit()" aria-label="Cancel">
                   <md-icon>highlight_off</md-icon>
                    </button>
        <button md-button type="button" class="md-icon-button md-primary" (click)="saveEntity()" [disabled]="!f.valid" aria-label="Save Item">
                   <md-icon>save</md-icon>
          </button>

      </div>

    </form>

  </md-card-content>
</md-card>