
<mat-card>
  
  
    <mat-card-content>
  
        <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
            <section *ngIf="isEditing">          
        <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>

          <section layout="column" flex="100" layout-margin>
            <mat-form-field>
              <input matInput #name flex name="name" [(ngModel)]="itemEdit.name" required placeholder="Name" maxlength="150" />
              <mat-hint align="end">{{name.value.length}} / 150</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput #description flex name="description" [(ngModel)]="itemEdit.description" required placeholder="Description"
                maxlength="150">
              <mat-hint align="end">{{description.value.length}} / 150</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput #rootFolder flex name="rootFolder" [(ngModel)]="itemEdit.rootFolder" required placeholder="Root Folder name"
                maxlength="150">
              <mat-hint align="end">{{rootFolder.value.length}} / 150</mat-hint>
            </mat-form-field>            
          </section>


      </form>
  
      <td-expansion-panel *ngIf="itemEdit.id > 0" label="Status assigned" flex [expand]="true" >
          <crm-opptypestatus [idtype]="itemEdit.id" ></crm-opptypestatus>
        </td-expansion-panel>
       
    </section>
  
      <section *ngIf="!isEditing">
  
  
   <ng-template tdLoading="items.load">
        <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
          <ng-template tdDataTableTemplate="name" let-value="value" let-row="row"  let-column="column">
            <div layout="row">
              <button mat-button (click)="editEntity(row.id)">{{value}}</button>
            </div>
          </ng-template>
          <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
            <div layout="row" flex="5">
  
              <button mat-icon-button (click)="confirmDelete( row)">
              <mat-icon>delete</mat-icon>
            </button>
            </div>
          </ng-template>
  
        </td-data-table>
      
        <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize | async"  
        [total]="totalItems | async"  (change)="change($event)" >
<span hide-xs>Rows per page:</span>

<span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
</td-paging-bar>

              </ng-template>  
      </section>
  
    </ng-template>
    </mat-card-content>
  </mat-card>


  
       
