<section *ngIf="isEditing">
  <form #editform="ngForm" id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>


    <div layout-gt-sm="row" layout-lt-sm="column" layout-margin>
      <section flex-gt-sm="75">
        <md-select class="cbxClass" #idProducts name="idProducts" flex required="true" placeholder="Select Product" [(ngModel)]="itemEdit.idProduct" (change)="changeProduct($event)">
          <md-option *ngFor="let i of catProduct" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
            {{ i.nameDescription || i.name}}
          </md-option>
        </md-select>
      </section>
      <section flex-gt-sm="25">
        <md-slide-toggle #isAutomotive name="isAutomotive" [(ngModel)]="itemEdit.isAutomotive" (change)="changeAuto($event)">Automotive</md-slide-toggle>
      </section>
    </div>
    <section *ngIf="itemEdit.isAutomotive">
    <div layout-gt-sm="row" layout-lt-sm="column" layout-margin>
      <md-input-container flex>
        <input mdInput #prodDescription flex name="prodDescription" [(ngModel)]="itemEdit.customerProductExtended.prodDescription"
          required placeholder="Description" maxlength="500" />
        <md-hint align="end">{{prodDescription.value.length}} / 500</md-hint>
      </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-lt-sm="column" layout-margin>
      <md-input-container flex-gt-sm="50">
        <input mdInput #customerName flex name="customerName" [(ngModel)]="itemEdit.customerProductExtended.customerName" required
          placeholder="Customer Name" maxlength="150" />
        <md-hint align="end">{{customerName.value.length}} / 150</md-hint>
      </md-input-container>
      <md-input-container flex-gt-sm="50">
        <input mdInput #buyerName flex name="buyerName" [(ngModel)]="itemEdit.customerProductExtended.buyerName" required placeholder="Buyer Name"
          maxlength="150" />
        <md-hint align="end">{{buyerName.value.length}} / 150</md-hint>
      </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-lt-sm="column" layout-margin>
      <md-input-container flex-gt-sm="50">
        <input mdInput #platform flex name="platform" [(ngModel)]="itemEdit.customerProductExtended.platform" required placeholder="Platform"
          maxlength="150" />
        <md-hint align="end">{{platform.value.length}} / 150</md-hint>
      </md-input-container>
      <md-input-container flex-gt-sm="50">
        <input mdInput #partNumberOEM flex name="partNumberOEM" [(ngModel)]="itemEdit.customerProductExtended.partNumberOEM" required
          placeholder="Part OEM" maxlength="150" />
        <md-hint align="end">{{partNumberOEM.value.length}} / 150</md-hint>
      </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-lt-sm="column" layout-margin>
      <md-input-container flex-gt-sm="50">
        <input mdInput #partNumberBuyer flex name="partNumberBuyer" [(ngModel)]="itemEdit.customerProductExtended.partNumberBuyer"
          placeholder="Part Buyer" maxlength="150" />
        <md-hint align="end">{{partNumberBuyer.value.length}} / 150</md-hint>
      </md-input-container>
      <md-input-container flex-gt-sm="50">
        <input mdInput #eau flex name="eau" [(ngModel)]="itemEdit.customerProductExtended.eau" placeholder="EAU" currencyMask [options]="{ prefix: '', allowNegative: false, precision: 0 }"
        />
      </md-input-container>
    </div>

        <section layout-gt-sm="row" layout-lt-sm="column"  layout-margin>
          <div flex-gt-sm="20" *ngFor="let pc of itemEdit.customerProductProperties ; let idx = index; ">
            <md-input-container>
              <input mdInput flex [id]="pc.property.name" [name]="pc.property.name" maxlength="500" [placeholder]="pc.property.name"
                [(ngModel)]="pc.propertyValue" >
              <md-hint align="end"> 500</md-hint>
            </md-input-container>
          </div>

        </section>

    </section>
  </form>
        <section layout-gt-sm="row" layout-lt-sm="column"  layout-margin flex *ngIf="itemEdit.id > 0" >
          <crm-customerproductprice flex [idParent]="itemEdit.id"></crm-customerproductprice>
        </section>

</section>



<section *ngIf="!isEditing">


  <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
    <ng-template tdDataTableTemplate="productName" let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <button md-button (click)="editEntity(row.id)">{{value}}</button>
      </div>
    </ng-template>
    <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
      <div layout="row" flex="5">
        <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
      </div>
    </ng-template>

  </td-data-table>
  <td-paging-bar [firstLast]="true" [pageSizeAll]="true" [pageSizes]="pagesArray" [pageSize]="pageSize" [total]="totalItems"
    (change)="change($event)">
  </td-paging-bar>
</section>