
    <form #f="ngForm" flex #form (ngSubmit)="submitForm(form)">
      <section *ngIf="isEditing">
        <section layout="column" flex="100" layout-margin>

        <div layout-gt-sm="row" layout-lt-sm="column" flex >
            <crm-select flex #IdProduct name="IdProduct"  catalog="Product" placeholder="Product" [(ngModel)]="itemEdit.IdProduct" ></crm-select>
        </div>


        <div layout-gt-sm="row" layout-lt-sm="column" >
          <md-input-container flex class="">
            <textarea mdInput flex #ItemDescription name="ItemDescription" maxlength="500"  placeholder="Item Description" [(ngModel)]="itemEdit.ItemDescription" ></textarea>
                  <md-hint align="end">{{ItemDescription.value.length}} / 500</md-hint>
          </md-input-container>         
        </div>  

        <div layout-gt-sm="row" layout-lt-sm="column" layout-margin >
          <md-input-container flex="35">
            <input mdInput #ItemQuantity name="ItemQuantity" placeholder="Quantity" [(ngModel)]="itemEdit.ItemQuantity">
          </md-input-container>
          <md-input-container flex="35">
            <input type="number" mdInput #ItemPrice name="ItemPrice" placeholder="Price" [(ngModel)]="itemEdit.ItemPrice">
          </md-input-container>
          <md-input-container flex="30">
            <input type="number" mdInput #ItemExtended name="ItemExtended" placeholder="Total" [(ngModel)]="itemEdit.ItemExtended" crmCurrencyFormatter>
          </md-input-container>          
        </div> 

        </section>
      </section>
    </form>


  <section *ngIf="!isEditing">


      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="ItemDescription"  let-value="value" let-row="row"  let-column="column">
          <div layout="row" flex="30">
            <button md-button (click)="editEntity(row.Id)">{{value}}</button>
          </div>
        </ng-template>

        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
          </div>
        </ng-template>

      </td-data-table>

    </section>


