<ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">

      <section *ngIf="isEditing">
      <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>        


        <div layout-gt-sm="row" layout-lt-md="column" flex  layout-margin >
            <mat-form-field>
             <mat-select class="cbxClass" #idCustomerProduct name="idCustomerProduct" flex required="true" [disabled]="!allowProduct"  placeholder="Product" [(ngModel)]="itemEdit.idCustomerProduct" (change)="productChange($event.value)"  >
            
                  <mat-option *ngFor="let i of productData" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id"  > 
                    {{ i.productName  }} {{ i.platform != null ? ' [Platform: ' + i.platform + ']': '' }}
                    {{ i.partNumberBuyer != null ? ' [Buyer Part: ' + i.partNumberBuyer + ']': '' }}
                  </mat-option>
            </mat-select>                  
            </mat-form-field>
       
        </div>


        <div layout-gt-sm="row" layout-lt-md="column"  layout-margin >
          <mat-form-field flex >
            <textarea matInput flex #itemDescription name="itemDescription" maxlength="500"  placeholder="{{ 'DESCRIPTION' | translate }}" [(ngModel)]="itemEdit.itemDescription" ></textarea>
                  <mat-hint align="end">{{itemDescription.value.length}} / 500</mat-hint>
          </mat-form-field>         
        </div>  


        <div layout-gt-sm="row" layout-lt-md="column" layout-margin >
          <mat-form-field  flex-gt-sm="30" >
            <input   matInput  #ItemQuantity name="ItemQuantity"  placeholder="{{ 'QUANTITY' | translate}}" [ngModel]="itemEdit.itemQuantity" currencyMask  [options]="{ prefix: ''}" (ngModelChange)="qtyChange($event)" />
          </mat-form-field>
          <mat-form-field  flex-gt-sm="30" >
            <input  matInput   #ItemPrice  name="ItemPrice" placeholder="{{'PRICE' | translate}}" [ngModel]="itemEdit.itemPrice" currencyMask  (ngModelChange)="priceChange($event)"  />
          </mat-form-field>
          <mat-form-field  flex-gt-sm="40" >
            <input  matInput    #ItemExtended name="ItemExtended" placeholder="{{ 'TOTAL' | translate}}" [(ngModel)]="itemEdit.itemExtended" currencyMask disabled/>
          </mat-form-field>          
        </div> 

        

    </form>

    
        <crm-opportunitydetailsumary #dSumary name="dSumary" 
        [idDetail]="itemEdit.id" 
        [idCustomerProduct]="itemEdit.idCustomerProduct" 
        [idProduct]="itemEdit.idProduct" 
        *ngIf="isEditing && itemEdit.id > 0" 
        (onHasSumary)="hasSumary" [maxQty]="itemEdit.itemQuantity" 
        [price]="itemEdit.itemPrice"
        catalogName="Opp Details Sumary"
        baseController="OpportunityDetailSumary"
        baseSearch="searchByDetail"
        sumProperties="opportunityDetailSumaryProperties"
        ></crm-opportunitydetailsumary>
      </section>



  <section *ngIf="!isEditing">


      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="itemDescription" let-value="value" let-row="row" let-column="column">
           <span [matTooltip]="row.itemDescription" >  
             <button  mat-button  (click)="editEntity(row.id)">{{value | maxString}}</button>
           </span> 
        </ng-template>
          <ng-template tdDataTableTemplate="productDescription" let-value="value" let-row="row" let-column="column">
              <span [matTooltip]="row.productDescription">{{value | maxString}}</span>
              </ng-template>
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button mat-icon-button (click)="confirmDelete( row)">
            <mat-icon>delete</mat-icon>
          </button>
          </div>
        </ng-template>

        <tfoot>

      </td-data-table>

    </section>

  </ng-template>
