<ng-template [tdLoading]="loadName">

      <section *ngIf="isEditing">
      <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>        


        <div layout-gt-sm="row" layout-lt-md="column" flex  layout-margin >
            <md2-select class="cbxClass" #idCustomerProduct name="idCustomerProduct" flex required="true" [disabled]="!allowProduct"  placeholder="Product" [(ngModel)]="itemEdit.idCustomerProduct" (change)="productChange($event.value)"  >
                <md2-select-header>               
                    <section layout-padding>
                        <md-form-field>
                            <input mdInput flex #sproduct  placeholder="Search" maxlength="15"  >
                          </md-form-field>
                    </section>
                 </md2-select-header>               
                  <md2-option *ngFor="let i of productData  | nameDesc: { text: sproduct.value, fields: [ 'productName', 'platform', 'partNumberBuyer'] }		" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id"  > 
                    {{ i.productName  }} {{ i.platform != null ? ' [Platform: ' + i.platform + ']': '' }}
                    {{ i.partNumberBuyer != null ? ' [Buyer Part: ' + i.partNumberBuyer + ']': '' }}
                  </md2-option>
            </md2-select>          
        </div>


        <div layout-gt-sm="row" layout-lt-md="column"  layout-margin >
          <md-form-field flex >
            <textarea mdInput flex #itemDescription name="itemDescription" maxlength="500"  placeholder="{{ 'DESCRIPTION' | translate }}" [(ngModel)]="itemEdit.itemDescription" ></textarea>
                  <md-hint align="end">{{itemDescription.value.length}} / 500</md-hint>
          </md-form-field>         
        </div>  


        <div layout-gt-sm="row" layout-lt-md="column" layout-margin >
          <md-form-field  flex-gt-sm="30" >
            <input   mdInput  #ItemQuantity name="ItemQuantity"  placeholder="{{ 'QUANTITY' | translate}}" [ngModel]="itemEdit.itemQuantity" currencyMask  [options]="{ prefix: ''}" (ngModelChange)="qtyChange($event)" />
          </md-form-field>
          <md-form-field  flex-gt-sm="30" >
            <input  mdInput   #ItemPrice  name="ItemPrice" placeholder="{{'PRICE' | translate}}" [ngModel]="itemEdit.itemPrice" currencyMask  (ngModelChange)="priceChange($event)"  />
          </md-form-field>
          <md-form-field  flex-gt-sm="40" >
            <input  mdInput    #ItemExtended name="ItemExtended" placeholder="{{ 'TOTAL' | translate}}" [(ngModel)]="itemEdit.itemExtended" currencyMask disabled/>
          </md-form-field>          
        </div> 

        

    </form>

        <crm-opportunitydetailsumary #dSumary name="dSumary" [idDetail]="itemEdit.id" [idCustomerProduct]="itemEdit.idCustomerProduct" [idProduct]="itemEdit.idProduct" *ngIf="isEditing && itemEdit.id > 0" (onHasSumary)="hasSumary" [maxQty]="itemEdit.itemQuantity" [price]="itemEdit.itemPrice" ></crm-opportunitydetailsumary>
      </section>



  <section *ngIf="!isEditing">


      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="itemDescription" let-value="value" let-row="row" let-column="column">
            <button [tooltip]="row.itemDescription" md-button  (click)="editEntity(row.id)">{{value | maxString}}</button>
        </ng-template>
          <ng-template tdDataTableTemplate="productDescription" let-value="value" let-row="row" let-column="column">
              <span [tooltip]="row.productDescription">{{value | maxString}}</span>
              </ng-template>
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
          </div>
        </ng-template>

        <tfoot>

      </td-data-table>

    </section>

  </ng-template>
