<section *ngIf="!showEMail">

    <section *ngIf="isEditing">
        <form #editform="ngForm" id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>
      <section layout="column" flex="100" layout-margin>


        <div layout-gt-sm="row" layout-lt-sm="column" flex>
            <md-select class="cbxClass" #idAction name="idAction" flex required="true"   placeholder="Action" [(ngModel)]="itemEdit.idAction"  >
                  <md-option *ngFor="let i of catActionsOpp" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>             
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" flex>
            <md-select class="cbxClass" #idResponsible name="idResponsible" flex required="true"   placeholder="Responsible" [(ngModel)]="itemEdit.idResponsible"  >
                  <md-option *ngFor="let i of catResponsible" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>             
        </div>

        <div layout-gt-sm="row" layout-lt-sm="column" flex>
          <md-radio-group #ToContact name="ToContact" [(ngModel)]="itemEdit.toContact">
            <md-radio-button value="1">{{ 'CONTACT' | translate}}</md-radio-button>
            <md-radio-button value="2">{{ 'CUSTCONTACT' | translate}}</md-radio-button>
          </md-radio-group>
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" flex *ngIf="itemEdit.toContact == 1">
            <md-select class="cbxClass" #idContact name="idContact" flex [required]="itemEdit.toContact === 1"   placeholder="Contact" [(ngModel)]="itemEdit.idContact"  >
                  <md-option *ngFor="let i of catContact" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>            
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" flex *ngIf="itemEdit.toContact == 2">
            <md-select class="cbxClass" #idCustomerContact name="idCustomerContact" flex [required]="itemEdit.toContact === 2"   placeholder="Customer Contact" [(ngModel)]="itemEdit.idCustomerContact"  >
                  <md-option *ngFor="let i of catCustomerContact" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>             
        </div>


        <div layout-gt-sm="row" layout-lt-sm="column">
          <md-input-container flex class="">
            <textarea mdInput flex #DNotes name="DNotes" maxlength="500" placeholder="{{ 'NOTES' | translate }}" [(ngModel)]="itemEdit.dNotes"></textarea>
            <md-hint align="end">{{DNotes.value.length}} / 500</md-hint>
          </md-input-container>
        </div>
      </section>
  </form>

      <crm-editorbasedialogdocument 
              [idDialog]="itemEdit.id" 
              [baseApi]="documentBaseApi"
              [parentField]="documentParentField"
              *ngIf="itemEdit.id > 0"></crm-editorbasedialogdocument>
    </section>




  <section *ngIf="!isEditing">

    <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
      <ng-template tdDataTableTemplate="actionName" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <button md-button (click)="editEntity(row.id)">{{value}}</button>
        </div>
      </ng-template>
      <ng-template tdDataTableTemplate="contact" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          {{ row.ToContact == 1 ? row.ContactName : row.CustContactName}}
        </div>
      </ng-template>

      <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
        <div layout="row" flex="5">

          <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
        </div>
      </ng-template>

    </td-data-table>
    <td-paging-bar [firstLast]="true" [pageSizeAll]="true" [pageSizes]="pagesArray" [pageSize]="pageSize" [total]="totalItems"
      (change)="change($event)">
    </td-paging-bar>
  </section>

</section>




