<td-layout-nav logo="assets:logocrm">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Opportunities</span>
          <div flex></div>
  </div>
  <td-layout-manage-list #manageList
                        [opened]="_mediaService.registerQuery('gt-sm') | async"
                        [mode]="(_mediaService.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                        [sidenavWidth]="(_mediaService.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <md-toolbar td-sidenav-content>
      <span *ngIf="idOpp > 0">Edit Opportunity  </span>
      <span *ngIf="idOpp == 0">Create Opportunity  </span>
    </md-toolbar>
    <md-nav-list td-sidenav-content>
        <a md-list-item
        md-ripple class="block relative"
        (click)="!_mediaService.query('gt-sm') && manageList.close()"
        [routerLinkActive]="[false]"
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/opportunity/edit', idOpp]">
        <md-icon md-list-icon>dashboard</md-icon>
       Header
      </a>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!_mediaService.query('gt-sm') && manageList.close()"
        [routerLinkActive]="[false]"
        [routerLink]="['details', idOpp]"
        [routerLinkActiveOptions]="{exact:true}"
       >
        <md-icon md-list-icon>dashboard</md-icon>
        Details
      </a>
      <a md-list-item
        md-ripple class="block relative"
        (click)="!_mediaService.query('gt-sm') && manageList.close()"
        [routerLinkActive]="[false]"
        [routerLinkActiveOptions]="{exact:true}"
         [routerLink]="['dialogs', idOpp]"
       >
        <md-icon md-list-icon>insert_chart</md-icon>
        Dialogs
      </a>
       <a md-list-item
        md-ripple class="block relative"
        (click)="!_mediaService.query('gt-sm') && manageList.close()"
        [routerLinkActive]="[false]"
        [routerLinkActiveOptions]="{exact:true}"
         [routerLink]="['documents', idOpp]"
       >
        <md-icon md-list-icon>insert_chart</md-icon>
        Documents
      </a>    
    </md-nav-list>
    <div td-toolbar-content layout="row" layout-align="start center" flex>

      <div flex></div>
      <a md-list-item md-ripple class="block relative" [routerLink]="'/opportunity'">
          Opportunity Index
        </a>
    </div>

  <md-card>
    <md-card-content>


    <router-outlet></router-outlet>
    </md-card-content>
  </md-card>

  </td-layout-manage-list>
</td-layout-nav>


