
 <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
      <section flex  *ngIf="isEditing">
          <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>
        <section  flex layout-gt-sm="row" layout-lt-md="column"  >

          <section flex="25"> &nbsp; </section>
          <section flex="50" layout-margin>
          <section  flex >
              <mat-form-field>
               <mat-select class="cbxClass" #IdDocType name="IdDocType" flex required="true"  placeholder="Document Type" [(ngModel)]="itemEdit.idDocType" (selectionChange)="onDocTypeChange($event)"   >

                    <mat-option *ngFor="let i of catDocType " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                        {{ i.name }} - {{ i.description }}
                    </mat-option>
              </mat-select>                  
              </mat-form-field>            
               
            </section>        
          <section  flex >
              <mat-form-field>
               <mat-select class="cbxClass" #idStatus name="idStatus" flex required="true"  placeholder="Status" [(ngModel)]="itemEdit.idStatus"  >
              
                    <mat-option *ngFor="let i of catStatus  " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                        {{ i.name }} - {{ i.description }}
                    </mat-option>
              </mat-select>                  
              </mat-form-field>            
               
            </section>  

          <div flex >
            <span>Email to:    </span> &nbsp; &nbsp;
            <mat-radio-group #eMailTo name="eMailTo" [(ngModel)]="itemEdit.eMailTo">
              <mat-radio-button value="1">Contact</mat-radio-button>
              <mat-radio-button value="2">Customer Contact</mat-radio-button>
              <mat-radio-button value="3">Both</mat-radio-button>
            </mat-radio-group>
          </div>   
          <section  flex >
              <mat-form-field>
              <mat-select class="cbxClass" #idTemplateEmail name="idTemplateEmail" flex required="true"  placeholder="EMail template" [(ngModel)]="itemEdit.idTemplateEmail"  >
                
                    <mat-option *ngFor="let i of catEMail  	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                        {{ i.name }} 
                    </mat-option>
              </mat-select>                    
              </mat-form-field>            
              
            </section>    
            <section  flex >
              <mat-form-field>
                <input matInput #actionClass flex name="actionClass" [(ngModel)]="itemEdit.actionClass"  placeholder="Action class" maxlength="250" />
                <mat-hint align="end">{{actionClass.value.length}} / 250</mat-hint>
              </mat-form-field>
            </section>        
            <section  flex >
              <mat-form-field>
                <input matInput #beforeEMailClass flex name="beforeEMailClass" [(ngModel)]="itemEdit.beforeEMailClass"  placeholder="Before EMail class" maxlength="250" />
                <mat-hint align="end">{{beforeEMailClass.value.length}} / 250</mat-hint>
              </mat-form-field>
            </section>   
            <section  flex >
              <mat-form-field>
                <input matInput #afterEMailClass flex name="afterEMailClass" [(ngModel)]="itemEdit.afterEMailClass"  placeholder="After EMail class" maxlength="250" />
                <mat-hint align="end">{{afterEMailClass.value.length}} / 250</mat-hint>
              </mat-form-field>
            </section>     
          <div layout="row" flex layout-align="end center">
            <button mat-button type="button" class="mat-icon-button md-primary" (click)="cancelEdit()" aria-label="Cancel">
                       <mat-icon>highlight_off</mat-icon>
                        </button>
            <button mat-button type="submit" class="mat-icon-button md-primary"  [disabled]="!editform.valid"
              aria-label="Save Property">
                       <mat-icon>save</mat-icon>
              </button>
    
          </div>
          </section>

        </section>
 
    </form>
    </section>



<section *ngIf="!isEditing">
  <section layout="row" >
    <section flex="95"></section>
    <section flex="5">
      <button mat-mini-fab class="md-mini md-primary" (click)="addEntity()" aria-label="Add" >
          <mat-icon>add</mat-icon>
        </button>
  
    </section>
  </section>
              <ng-template tdLoading="items.load">
        <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
          <ng-template tdDataTableTemplate="docTypeName" let-value="value" let-row="row"  let-column="column">
            <div layout="row">
              <button mat-button (click)="editEntity(row.id)">{{value}}</button>
            </div>
          </ng-template>
          <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
            <div layout="row" flex="5">
              <button mat-icon-button (click)="confirmDelete( row)">
              <mat-icon>delete</mat-icon>
            </button>
            </div>
          </ng-template>
  
        </td-data-table>
        <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize" [total]="totalItems" (change)="change($event)">
          <span hide-xs>Rows per page:</span>
          <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
            <mat-option *ngFor="let size of pagesArray" [value]="size">
              {{size}}
            </mat-option>
          </mat-select>
          <span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
        </td-paging-bar>
  
        </ng-template>  
      </section>

    </ng-template>