


  <td-layout-manage-list #manageList [opened]="_mediaService.registerQuery('gt-sm') | async" [mode]="(_mediaService.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(_mediaService.registerQuery('gt-xs') | async) ? '180px' : '100%'">
    <mat-nav-list td-sidenav-content>
        <a mat-list-item matRipple class="block relative" (click)="goToInex()">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          Go to Index
        </a>          
      <a mat-list-item matRipple class="block relative" [ngClass]="{menuactive: scrId == 1  }" (click)=" linkClick(1) && (!this._mediaService.query('gt-sm') && this.manageList.close()) ">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        {{ "HEADER" | translate}}
      </a>
      <a mat-list-item matRipple class="block relative" [ngClass]="{menuactive: scrId == 2 }" (click)="linkClick(2) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idPurchase > 0">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        {{ "DETAILS" | translate}}
      </a>
      <a mat-list-item matRipple class="block relative" [ngClass]="{menuactive: scrId == 3  }" (click)="linkClick(3) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idPurchase > 0">
        <mat-icon mat-list-icon>insert_chart</mat-icon>
        {{ "DIALOGS" | translate}}
      </a>
      <a mat-list-item matRipple class="block relative" [ngClass]="{menuactive: scrId == 4  }" (click)="linkClick(4) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idPurchase > 0">
        <mat-icon mat-list-icon>insert_chart</mat-icon>
        {{ "DOCUMENTS" | translate}}
      </a>
      <a mat-list-item matRipple class="block relative" [ngClass]="{menuactive: scrId == 5  }" (click)="linkClick(5) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idPurchase > 0">
          <mat-icon mat-list-icon>insert_chart</mat-icon>
          Shippings
        </a>        
    </mat-nav-list>

    <mat-card>
      <mat-card-content>
          <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
              <mat-icon>arrow_back</mat-icon>
          </button>
        <crm-purchaseordereditorheader [idDoc]="idPurchase"  *ngIf="scrId == 1" [quoteType]="quoteType"></crm-purchaseordereditorheader>
        <crm-purchaseordereditordetail [idOpp]="idPurchase" [idCustomer]="idCustomer" *ngIf="scrId == 2 "></crm-purchaseordereditordetail>

        <crm-documentviewer [idParent]="idPurchase" baseApi="PurchaseOrderDocument" *ngIf="scrId == 4 "></crm-documentviewer>


        <crm-editorbasedialog [idParent]="idPurchase" 
                [baseApi]="'PurchaseOrderDialog'"
                parentField="idPurchaseOrder"

                documentBaseApi="PurchaseOrderDocument"
                documentParentField="idPurchaseOrderDialog"
                *ngIf="scrId == 3 "
                catName="PO Dialogs"
                [idCustomer]="idCustomer"    
                [quoteType]="quoteType"            
                ></crm-editorbasedialog>

                <crm-shippingindexviewer 
                [idParent]="idPurchase" 
                [byType]="quoteType"              
                *ngIf="scrId == 5 "
                parentRoute="purchaseorder"
                parentScreen="5"
                moveToScr="false"
                ></crm-shippingindexviewer>


      </mat-card-content>
    </mat-card>
  </td-layout-manage-list>

