<md-card>
  <md-card-content>
          <a md-list-item 
        md-ripple class="block relative"
         [routerLink]="['/options/products']">
        <md-icon md-list-icon>dashboard</md-icon>
        Product
      </a>


    <form #f="ngForm" flex (ngSubmit)="submitForm(form.value)">


      <section layout="row" flex="100" layout-margin>

        <md-input #name flex name="name" [(ngModel)]="itemEdit.Name" required placeholder="Name" maxlength="150">
          <md-hint align="end">{{name.characterCount}} / 150</md-hint>
        </md-input>
        <md-input #description flex name="description" [(ngModel)]="itemEdit.Description" required placeholder="Description" maxlength="150"
          value="">
          <md-hint align="end">{{description.characterCount}} / 150</md-hint>
        </md-input>


      </section>

      <section layout="column" flex="100" layout-margin>

        <md-select flex="100" #crmselect name="IdFanily" placeholder="Family" [(ngModel)]="itemEdit.IdFamily">
          <md-option *ngFor="let itm of familyList" [value]="itm.id">
            {{itm.Name}} - {{itm.Description}}
          </md-option>
        </md-select>

      </section>
      <section *ngIf="itemEdit.Id > 0">
        <td-expansion-panel label="Mail Teplate data">

        </td-expansion-panel>
        <td-expansion-panel label="Properties">

          <td-data-table [columns]="propColumns" [data]="itemEdit.ProductProperties">



            <template tdDataTableTemplate="isRequired" let-value="value" let-row="row" let-column="column">
              <div layout="row" flex="15">
                <md-checkbox [checked]="value">

                </md-checkbox>
              </div>
            </template>
            <template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
              <div layout="row" flex="5">

                <button md-icon-button (click)="confirmDeleteProperty(confirmProperty, row)">
            <md-icon>delete</md-icon>
          </button>
              </div>
            </template>
          </td-data-table>
        </td-expansion-panel>
      </section>
      <section>
        <div layout="row" flex layout-align="end center">
          <button md-button type="button" class="md-icon-button md-primary" (click)="cancelEdit()" aria-label="Cancel">
                   <md-icon>highlight_off</md-icon>
                    </button>
          <button md-button type="button" class="md-icon-button md-primary" (click)="saveEntity()" [disabled]="!f.valid" aria-label="Save Item">
                   <md-icon>save</md-icon>
          </button>

        </div>
      </section>
    </form>

  </md-card-content>
</md-card>