


  <mat-card>
    <mat-card-content>
        <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
      <section layout-margin>

        <form #editform="ngForm"  flex (ngSubmit)="submitForm(form)">
        <section layout-lt-md="column" layout="row" flex="100">

          <section flex="40">
            <crm-select #idFamily name="idFamily" catalog="Family" placeholder="Select family" [(ngModel)]="itemEdit.idFamily"></crm-select>
          </section>


          <mat-form-field flex="60">
            <input matInput #name flex name="name" [(ngModel)]="itemEdit.name" required placeholder="Name" maxlength="150" />
            <mat-hint align="end">{{name.value.length}} / 150</mat-hint>
          </mat-form-field>
        </section>
        <section layout-lt-md="column" layout="row" flex="100">
          <mat-form-field flex>
            <input matInput #description name="description" [(ngModel)]="itemEdit.description" required placeholder="Description" maxlength="150">
            <mat-hint align="end">{{description.value.length}} / 150</mat-hint>
          </mat-form-field>

        </section>
</form>
        <section layout-lt-md="column" layout="row" flex>


          <td-expansion-panel *ngIf="itemEdit.id > 0" label="Properties" flex (expanded)="expandProperties()">
            <crm-productproperty [idproduct]="itemEdit.id"></crm-productproperty>
          </td-expansion-panel>
        </section>
      </section>
       
 </ng-template>
    </mat-card-content>
  </mat-card>
