
        <div layout-gt-sm="row" layout-lt-md="column" layout-padding *ngIf="idOpp == 0">
          <section flex-gt-sm="35"  >
            <md-form-field>
              <input mdInput #idOpps name="idOpps" placeholder="Enter Opportunity base" (change)="getFromOpp($event)">
            </md-form-field>
          </section>
        </div>



      <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(form)" novalidate>
        
          <ng-template [tdLoading]="loadName">
        <div layout-gt-sm="row" layout-lt-md="column" layout-padding>
          <section  flex-gt-sm="20" >
            <md2-datepicker  #DateReceived name="DateReceived" placeholder="Receiving Date" required="true" [(ngModel)]="itemEdit.dateReceived"></md2-datepicker>
          </section>  
          <section  flex-gt-sm="20" >
            <md2-datepicker  #OfferValidity name="OfferValidity" placeholder="Offer validity" required="true" [(ngModel)]="itemEdit.offerValidity"></md2-datepicker>
          </section>  
          <section  flex-gt-sm="20" >
            <md2-datepicker  #ShipmentOffered name="ShipmentOffered" placeholder="Shipment Offered" required="true" [(ngModel)]="itemEdit.shipmentOffered"></md2-datepicker>
          </section>                   
          <section  flex-gt-sm="20" >
            <md2-select class="cbxClass" #idCurrency name="idCurrency" flex required="true"  placeholder="Currency" [(ngModel)]="itemEdit.idCurrency"  >
                <md2-select-header>               
                    <section layout-padding>
                        <input mdInput flex #scurrency  placeholder="Search" maxlength="15"  >
                    </section>
                   </md2-select-header> 
                  <md2-option *ngFor="let i of catCurrencies  | nameDesc:scurrency.value	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>
          </section>    
          <section  flex-gt-sm="20" >
            <md2-select class="cbxClass" #idStatus name="idStatus" flex disabled="true"  placeholder="Status" [(ngModel)]="itemEdit.idStatus"  >
                <md2-select-header>               
                    <section layout-padding>
                      <md-form-field>
                        <input mdInput flex #sstatus  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                    </section>
                   </md2-select-header> 
                  <md2-option *ngFor="let i of catStatus | nameDesc:sstatus.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select> 
          </section>             
        </div>      
        <div flex layout-gt-sm="row" layout-lt-md="column" layout-padding>
          <md-form-field flex >
            <textarea mdInput flex="100"  #QuoteNotes name="QuoteNotes" maxlength="500" required  placeholder="Quote Notes " [(ngModel)]="itemEdit.quoteNotes" ></textarea>
             <md-hint flex align="end">{{QuoteNotes.value.length}} / 500</md-hint>
          </md-form-field>         
        </div>         
        <div layout-gt-sm="row" layout-lt-md="column" layout-padding>
          <section  flex-gt-sm="35" >
            <md2-select class="cbxClass" #idMill name="idMill" flex  placeholder="Mill" [(ngModel)]="itemEdit.idMill" (change)="onMillChange($event)"  >
                <md2-select-header>               
                    <section layout-padding>
                      <md-form-field>
                        <input mdInput flex #smill  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                    </section>
                   </md2-select-header> 
                  <md2-option *ngFor="let i of catMill | nameDesc:smill.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>             
          </section>   
          <section  flex-gt-sm="35" >
            <md2-select class="cbxClass" #idCountryOrigin name="idCountryOrigin" flex  placeholder="Country" [(ngModel)]="itemEdit.idCountryOrigin"   >
                <md2-select-header>               
                    <section layout-padding>
                      <md-form-field>
                        <input mdInput flex #scountry  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                    </section>
                   </md2-select-header>               
                  <md2-option *ngFor="let i of catCountry | nameDesc:scountry.value	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.idCountry">
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>              
          </section>                    
          <section  flex-gt-sm="30" >
            <md2-select class="cbxClass" #idPort name="idPort" flex required="true"  placeholder="Port" [(ngModel)]="itemEdit.idPort"  >
                <md2-select-header>               
                    <section layout-padding>
                      <md-form-field>
                        <input mdInput flex #sport  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                    </section>
                   </md2-select-header> 
                  <md2-option *ngFor="let i of catPort | nameDesc:sport.value	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>  
          </section>           
        </div>

        <div layout-gt-sm="row" layout-lt-md="column" layout-padding>
          <section flex-gt-sm="25" >
            <md2-select class="cbxClass" #idTransactionFlow name="idTransactionFlow" flex required="true"  placeholder="Transaction flow" [(ngModel)]="itemEdit.idTransactionFlow"  >
                <md2-select-header>               
                    <section layout-padding>
                      <md-form-field>
                        <input mdInput flex #stransaction  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                    </section>
                   </md2-select-header>               
                  <md2-option *ngFor="let i of catTransactionFlow | nameDesc:stransaction.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>  
          </section> 
          <section flex-gt-sm="25" >
            <md2-select class="cbxClass" #idIncoTerm name="idIncoTerm" flex required="true"  placeholder="Inco Terms" [(ngModel)]="itemEdit.idIncoTerm" (change)="incoTermChange($event)"  >
                <md2-select-header>               
                    <section layout-padding>
                      <md-form-field>
                        <input mdInput flex #sincoterm  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                    </section>
                   </md2-select-header> 
                  <md2-option *ngFor="let i of catIncoTerm | nameDesc:sincoterm.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>  
          </section>  
          <section flex-gt-sm="25" >
           <md2-select class="cbxClass" #idLinerTerm name="idLinerTerm" flex required="true"  placeholder="Liner Terms" [(ngModel)]="itemEdit.idLinerTerm"  >
              <md2-select-header>               
                  <section layout-padding>
                    <md-form-field>
                      <input mdInput flex #slinerterm  placeholder="Search" maxlength="15"  >
                      </md-form-field>
                  </section>
                 </md2-select-header>              
                  <md2-option *ngFor="let i of catLinerTerm | nameDesc:slinerterm.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>    
          </section>   
          <section flex-gt-sm="25" >
            <md-slide-toggle #asImporter name="asImporter"  [(ngModel)]="itemEdit.asImporter">{{'ASIMPORTER' | translate}}</md-slide-toggle>
          </section>                 
        </div>
        <div layout-gt-sm="row" layout-lt-md="column" layout-padding *ngIf="deliveryRequired">
            <md2-select class="cbxClass" #idDeliveryPoint name="idDeliveryPoint" flex required="true"  placeholder="Delivery Point" [(ngModel)]="itemEdit.idDeliveryPoint"  >
                <md2-select-header>               
                    <section layout-padding>
                      <md-form-field>
                        <input mdInput flex #sdelivery  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                    </section>
                   </md2-select-header> 
                  <md2-option *ngFor="let i of catDeliveryPoint | nameDesc:sdelivery.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.cDPName }} 
                  </md2-option>
            </md2-select>          
        </div>
        <div layout-gt-sm="row" layout-lt-md="column" layout-padding>
          <section flex-gt-sm="25" >
            <md2-select class="cbxClass" #idTypeOpp name="idTypeOpp" flex required="true"  placeholder="Type Opportunity" [(ngModel)]="itemEdit.idTypeOpp"  >
                <md2-select-header>               
                    <section layout-padding>
                      <md-form-field>
                        <input mdInput flex #stypeopp  placeholder="Search" maxlength="15"  >
                        </md-form-field>
                    </section>
                   </md2-select-header>               
                  <md2-option *ngFor="let i of catTypeOpp | nameDesc:stypeopp.value" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md2-option>
            </md2-select>   
          </section> 
              
        </div>   
      </ng-template>       
      </form>