<td-layout-nav>


    <div td-toolbar-content layout="row" layout-align="center center" flex>
        <button mat-icon-button td-menu-button tdLayoutToggle>
                          <mat-icon>menu</mat-icon>
                        </button>
        <span>CRM Dashboard</span>
        <span flex></span>
    </div>
    <div flex layout="column">
        <div layout="row" class="pull-bottom-md pull-right-md">
            <ngx-charts-number-card [scheme]="colorScheme" [results]="single | async">
            </ngx-charts-number-card>
        </div>
        <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
            <div flex-gt-sm="50">
                <mat-card>
                        <mat-card-title>Documents by Status</mat-card-title>
                        <mat-divider></mat-divider>
                        <div style="height:250px;">
                          <ngx-charts-bar-horizontal-stacked
                            [scheme]="colorScheme"
                            [results]="byStatus | async"
                            [gradient]="gradient"
                            [xAxis]="false"
                            [yAxis]="true"
                            [legend]="false"
                            [showXAxisLabel]="false"
                            [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel"
                           
                           
                            >

                          </ngx-charts-bar-horizontal-stacked>
                        </div>
                </mat-card>
            </div>
            <div flex-gt-sm="50">

                <mat-card>
                    <mat-card-content>

                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <td-layout-footer>
        <div layout="row" layout-align="start center">
            <span class="mat-caption">Copyright &copy; 2017 Salzgitter Mexico. All rights reserved</span>
            <span flex></span>
            <mat-icon class="mat-icon-ux" svgIcon="assets:logocrm"></mat-icon>
        </div>
    </td-layout-footer>
</td-layout-nav>
