
<td-expansion-panel label="Sumary Detail" sublabel="Total quantity: {{total | number}} " [expand]="true" >
    
        <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
  <div layout-margin>
          <div>
              <button mat-raised-button color="accent" class="text-upper" (click)="addEntity()" *ngIf="!isEditing  && (uTemplate == false)"> {{ 'OPPORTUNITY.ADDSUMARY' | translate}} </button>
              <button mat-raised-button color="secondary" (click)="cancelEdit()" *ngIf="isEditing">{{ 'CANCEL' | translate}} </button>
              <button mat-raised-button color="primary" (click)="saveEntity()" *ngIf="isEditing">{{ 'SAVE' | translate}} </button>
              <button mat-raised-button color="primary" (click)="getTemplate()" *ngIf=" (uTemplate == false) && (isEditing == false)" >Get Template </button>
              <button mat-raised-button color="primary" (click)="uploadTemplate()" *ngIf="(uTemplate == false)  && (isEditing == false)" >Upload Template </button>
          </div>
      <section *ngIf="isEditing" flex>
        <form #editform="ngForm" flex  (ngSubmit)="submitForm(form)">
  
        
                <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
                  <mat-form-field flex-gt-sm="25" flex-lt-md="100" *ngFor="let pc of pdetails | async; let idx = index; ">
                      <input matInput flex [id]="pc.nameDescription" [name]="pc.nameDescription" maxlength="500" [placeholder]="pc.property.name" [required]="pc.isRequired" 
                      [(ngModel)]="pc.propertyValue">
                    <mat-hint align="end"> 500</mat-hint>
      
                  </mat-form-field>
                </div>
    
  
  
  
  
          <section layout="row" flex="100" layout-margin>
  
            <mat-form-field flex="30">
              <input  matInput #Quantity name="Quantity" placeholder="{{ 'QUANTITY' | translate}}" [ngModel]="itemEdit.quantity" currencyMask  [options]="{ prefix: ''}"  (ngModelChange)="qtyChange($event)" >
            </mat-form-field>
            <mat-form-field flex="30">
              <input  matInput #Price name="Price"  placeholder="{{ 'PRICE' | translate}}" [ngModel]="itemEdit.price" currencyMask  (ngModelChange)="priceChange($event)">
            </mat-form-field>
            <mat-form-field flex="35">
              <input  matInput #Amount name="Amount" placeholder="{{ 'TOTAL' | translate}}" [(ngModel)]="itemEdit.amount" currencyMask disabled>
            </mat-form-field>
  
          </section>
  
          <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
            <mat-form-field flex >
              <textarea matInput flex #Comment name="Comment" required="true" maxlength="250" placeholder="{{ 'DESCRIPTION' | translate }}" [(ngModel)]="itemEdit.comment"></textarea>
              <mat-hint align="end">{{Comment.value.length}} / 250</mat-hint>
            </mat-form-field>
          </div>
  
        </form>
       
      </section>
      <section *ngIf="uTemplate" layout-margin>
          
                    <div layout-gt-sm="row" layout-lt-md="column" flex>
                        <mat-form-field tdFileDrop  (fileDrop)="files = $event" (click)="fileInput.inputElement.click()"
                          (keyup.enter)="fileInput.inputElement.click()" (keyup.delete)="fileInput.clear()" (keyup.backspace)="fileInput.clear()"
                          flex>
                          <input matInput placeholder="select or drop file" [value]="files?.length ? (files?.length + ' file') : files?.name" [disabled]="disabled"
                            readonly/>
                        </mat-form-field>
                        <button mat-icon-button *ngIf="files" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()">
                          <mat-icon>cancel</mat-icon>
                        </button>
                        <td-file-input class="push-left-sm push-right-sm" #fileInput name="fileInput" [(ngModel)]="files"  >
                          <mat-icon>folder</mat-icon>
                          <span class="text-upper">Browse...</span>
                        </td-file-input>
                        <span>
                            <button mat-raised-button color="accent" [disabled]="!files" class="text-upper" (click)="uploadFile()">Submit</button>
                          </span>
                      </div>        
                </section>        

  
      <section flex *ngIf="!isEditing && (uTemplate == false)">
  
        <td-data-table flex [columns]="pcolumns | async" [data]="entList | async" [sortable]="false">
          <ng-template *ngFor="let pc of (pcolumns | async)" [tdDataTableTemplate]="pc.name" let-value="value" let-row="row" let-column="column">
            <span flex>{{value}} </span>
          </ng-template>
          <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
            <div layout="row" flex="5" >
              <button mat-icon-button (click)="confirmDelete( row)">
              <mat-icon>delete</mat-icon>
            </button>
            </div>
          </ng-template>
  
        </td-data-table>
        <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize" [total]="totalItems" (change)="change($event)">
          <span hide-xs>Rows per page:</span>
          <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
            <mat-option *ngFor="let size of pagesArray" [value]="size">
              {{size}}
            </mat-option>
          </mat-select>
          <span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
        </td-paging-bar>
      </section>
    </div>
    </ng-template>
  
  
  </td-expansion-panel>