        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding *ngIf="idParent == 0">
          <section flex-gt-sm="35"  >
            <md-input-container>
              <input mdInput #idParent name="idParent" placeholder="Enter Quotation to Customer base" (change)="getFromOpp($event)">
            </md-input-container>
          </section>
        </div>


      <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(form)" novalidate>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section flex-gt-sm="25" >
            <md-select class="cbxClass" #idResponsible name="idResponsible" flex required="true"  placeholder="Responsible" [(ngModel)]="itemEdit.idResponsible"  >
                  <md-option *ngFor="let i of catResponsible" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>

          </section>
          <section  flex-gt-sm="25" >
            <md-select class="cbxClass" #idCurrency name="idCurrency" flex required="true"  placeholder="Currency" [(ngModel)]="itemEdit.idCurrency"  >
                  <md-option *ngFor="let i of catCurrencies" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>
          </section>    
          <section  flex-gt-sm="25" >
            <md-select class="cbxClass" #idStatus name="idStatus" flex disabled="true"  placeholder="Status" [(ngModel)]="itemEdit.idStatus"  >
                  <md-option *ngFor="let i of catStatus" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select> 
          </section>     

          <section  flex-gt-sm="15" >
            <md2-datepicker  #dateCreated name="dateCreated" placeholder="Date Created" disabled="true" [(ngModel)]="itemEdit.dateCreated"></md2-datepicker>
          </section>                     
        </div>      
        <div flex layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <md-input-container flex >
            <textarea mdInput flex="100"  #oppNotes name="oppNotes" maxlength="500" required  placeholder="{{ 'OPPDESCRIPTION' | translate }} " [(ngModel)]="itemEdit.oppNotes" ></textarea>
             <md-hint flex align="end">{{oppNotes.value.length}} / 500</md-hint>
          </md-input-container>         
        </div>         
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section  flex-gt-sm="35" >
            <md-select class="cbxClass" #idCustomer name="idCustomer" flex required="true"  placeholder="Customer" [(ngModel)]="itemEdit.idCustomer" (change)="onCustomerChange($event)"  >
                  <md-option *ngFor="let i of catCustomer" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>   
          </section>
          <section  flex-gt-sm="35" >
            <md-select class="cbxClass" #idCustomerContact name="idCustomerContact" flex required="true"  placeholder="Customer Contact" [(ngModel)]="itemEdit.idCustomerContact"  >
                  <md-option *ngFor="let i of catCustomerContact" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>  
          </section>
          <section  flex-gt-sm="30" >
            <md-select class="cbxClass" #idContact name="idContact" flex required="true"  placeholder="Contact" [(ngModel)]="itemEdit.idContact"  >
                  <md-option *ngFor="let i of catContact" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>  
          </section>          
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section flex-gt-sm="35" >
            <md-select class="cbxClass" #idMarket name="idMarket" flex required="true"  placeholder="Market" [(ngModel)]="itemEdit.idMarket"  >
                  <md-option *ngFor="let i of catMarket" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select> 
          </section>
          <section  flex-gt-sm="35" >
            <md-select class="cbxClass" #idSector name="idSector" flex required="true"  placeholder="Sector" [(ngModel)]="itemEdit.idSector"  >
                  <md-option *ngFor="let i of catSector" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>  
          </section>   

          <section  flex-gt-sm="30" >
           <md-select class="cbxClass" #idPort name="idPort" flex required="true"  placeholder="Port" [(ngModel)]="itemEdit.idPort"  >
                  <md-option *ngFor="let i of catPort" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>   
          </section>           
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section  flex-gt-sm="35" >
            <md-select class="cbxClass" #idMill name="idMill" flex  placeholder="Mill" [(ngModel)]="itemEdit.idMill" (change)="onMillChange($event)"  >
                  <md-option *ngFor="let i of catMill" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select> 
          </section>   
          <section  flex-gt-sm="35" >
            <md-select class="cbxClass" #idCountryOrigin name="idCountryOrigin" flex  placeholder="Country" [(ngModel)]="itemEdit.idCountryOrigin"   >
                  <md-option *ngFor="let i of catCountry" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select> 
          </section>                    
          <section flex-gt-sm="30">
            <md-select class="cbxClass" #idTypeOpp name="idTypeOpp" flex required="true"  placeholder="Type Opportunity" [(ngModel)]="itemEdit.idTypeOpp"  >
                  <md-option *ngFor="let i of catTypeOpp" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>  
          </section>          
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section flex-gt-sm="25" >
            <md-select class="cbxClass" #idTransactionFlow name="idTransactionFlow" flex required="true"  placeholder="Transaction flow" [(ngModel)]="itemEdit.idTransactionFlow"  >
                  <md-option *ngFor="let i of catTransactionFlow" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>  
          </section> 
          <section flex-gt-sm="25" >
            <md-select class="cbxClass" #idIncoTerm name="idIncoTerm" flex required="true"  placeholder="Inco Terms" [(ngModel)]="itemEdit.idIncoTerm" (change)="incoTermChange($event)"  >
                  <md-option *ngFor="let i of catIncoTerm" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>  
          </section>  
          <section flex-gt-sm="25" >
           <md-select class="cbxClass" #idLinerTerm name="idLinerTerm" flex required="true"  placeholder="Liner Terms" [(ngModel)]="itemEdit.idLinerTerm"  >
                  <md-option *ngFor="let i of catLinerTerm" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>    
          </section>   
          <section flex-gt-sm="25" >
            <md-slide-toggle #asImporter name="asImporter"  [(ngModel)]="itemEdit.asImporter">{{'ASIMPORTER' | translate}}</md-slide-toggle>
          </section>                 
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding *ngIf="deliveryRequired">
            <md-select class="cbxClass" #idDeliveryPoint name="idDeliveryPoint" flex required="true"  placeholder="Delivery Point" [(ngModel)]="itemEdit.idDeliveryPoint"  >
                  <md-option *ngFor="let i of catDeliveryPoint" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.cDPName }} 
                  </md-option>
            </md-select>       
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section flex-gt-sm="30" >
            <md-select class="cbxClass" #idTypeOpp name="idTypeOpp" flex required="true"  placeholder="Type Opportunity" [(ngModel)]="itemEdit.idTypeOpp"  >
                  <md-option *ngFor="let i of catTypeOpp" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </md-option>
            </md-select>   
          </section>           

          <section flex-gt-sm="35">
            <md-input-container>
              <input mdInput #SMIM flex name="SMIM" [(ngModel)]="itemEdit.sMIM" required="true" placeholder="SMIM" maxlength="50">
              <md-hint align="end">{{SMIM.value.length}} / 50</md-hint>
            </md-input-container>
          </section>
          <section flex-gt-sm="35">
            <md-input-container>
              <input mdInput #PONumber flex name="PONumber" [(ngModel)]="itemEdit.pONumber" required="true" placeholder="PO Number" maxlength="150">
              <md-hint align="end">{{SMIM.value.length}} / 150</md-hint>
            </md-input-container>
          </section>


        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section  flex-gt-sm="35" >
            <md2-datepicker  #OfferValidity name="OfferValidity" placeholder="Offer validity" required="true" [(ngModel)]="itemEdit.offerValidity"></md2-datepicker>
          </section>  
          <section  flex-gt-sm="35" >
            <md2-datepicker  #ShipmentOffered name="ShipmentOffered" placeholder="Shipment Offered" required="true" [(ngModel)]="itemEdit.shipmentOffered"></md2-datepicker>
          </section> 
        <section  flex-gt-sm="30" >
            <md2-datepicker  #BookingDate name="BookingDate" placeholder="Booking Date" required="true" [(ngModel)]="itemEdit.bookingDate"></md2-datepicker>
          </section> 
        </div>        
        <div flex layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <md-input-container flex >
            <textarea mdInput flex="100"  #Comments name="Comments" maxlength="500"   placeholder="Comments " [(ngModel)]="itemEdit.comments" ></textarea>
             <md-hint flex align="end">{{Comments.value.length}} / 500</md-hint>
          </md-input-container>         
        </div>   
       
      </form>