        <div layout-gt-sm="row" layout-lt-md="column" layout-padding *ngIf="idParent == 0">
          <section flex-gt-sm="35"  >
            <mat-form-field>
              <input matInput #idParent name="idParent" placeholder="Enter Quotation to Customer base" (change)="getFromOpp($event)">
            </mat-form-field>
          </section>
        </div>


      <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(form)" novalidate>

          <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
        <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <section flex-gt-sm="25" >
              <mat-form-field>
            <mat-select class="cbxClass" #idResponsible name="idResponsible" flex required="true"  placeholder="Responsible" [(ngModel)]="itemEdit.idResponsible"  >
             
                  <mat-option *ngFor="let i of catResponsible  " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                  
              </mat-form-field>


          </section>
          <section  flex-gt-sm="25" >
              <mat-form-field>
            <mat-select class="cbxClass" #idCurrency name="idCurrency" flex required="true"  placeholder="Currency" [(ngModel)]="itemEdit.idCurrency"  >
                  <mat-option *ngFor="let i of catCurrencies" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                  
              </mat-form-field>            

          </section>    
          <section  flex-gt-sm="25" >
              <mat-form-field>
             <mat-select class="cbxClass" #idStatus name="idStatus" flex disabled="true"  placeholder="Status" [(ngModel)]="itemEdit.idStatus"  >
                  <mat-option *ngFor="let i of catStatus" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                  
              </mat-form-field>            

          </section>    


          <section  flex-gt-sm="15" >
              <mat-form-field >
                  <input matInput  [matDatepicker]="dateCreated" name="dateCreated" placeholder="Date Created" 
				                  required="true" [(ngModel)]="itemEdit.dateCreated">
                  <mat-datepicker-toggle matSuffix [for]="dateCreated"></mat-datepicker-toggle>
                  <mat-datepicker #dateCreated></mat-datepicker>
              </mat-form-field >   
          </section>                     
        </div>      
        <div flex layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <mat-form-field flex >
            <textarea matInput flex="100"  #oppNotes name="oppNotes" maxlength="500" required  placeholder="{{ 'OPPDESCRIPTION' | translate }} " [(ngModel)]="itemEdit.oppNotes" ></textarea>
             <mat-hint flex align="end">{{oppNotes.value.length}} / 500</mat-hint>
          </mat-form-field>         
        </div>         
        <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <section  flex-gt-sm="35" >
              <mat-form-field>
             <mat-select class="cbxClass" #idCustomer name="idCustomer" flex required="true"  placeholder="Customer" [(ngModel)]="itemEdit.idCustomer" (change)="onCustomerChange($event)"  >
            
                  <mat-option *ngFor="let i of catCustomer  " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                   
              </mat-form-field>            
 
          </section>
          <section  flex-gt-sm="35" >
              <mat-form-field>
             <mat-select class="cbxClass" #idCustomerContact name="idCustomerContact" flex required="true"  placeholder="Customer Contact" [(ngModel)]="itemEdit.idCustomerContact"  >
              
                  <mat-option *ngFor="let i of catCustomerContact  	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                  
              </mat-form-field>            
 
          </section>
          <section  flex-gt-sm="30" >
              <mat-form-field>
             <mat-select class="cbxClass" #idContact name="idContact" flex required="true"  placeholder="Contact" [(ngModel)]="itemEdit.idContact"  >
              
                  <mat-option *ngFor="let i of catContact  		" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                  
              </mat-form-field>            
 
          </section>          
        </div>
        <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <section flex-gt-sm="35" >
              <mat-form-field>
           <mat-select class="cbxClass" #idMarket name="idMarket" flex required="true"  placeholder="Market" [(ngModel)]="itemEdit.idMarket"  >
              
                  <mat-option *ngFor="let i of catMarket" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                   
              </mat-form-field>            
 
          </section>
          <section  flex-gt-sm="35" >
              <mat-form-field>
            <mat-select class="cbxClass" #idSector name="idSector" flex required="true"  placeholder="Sector" [(ngModel)]="itemEdit.idSector"  >
          
                  <mat-option *ngFor="let i of catSector " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                    
              </mat-form-field>            

          </section>   

          <section  flex-gt-sm="30" >
              <mat-form-field>
           <mat-select class="cbxClass" #idPort name="idPort" flex required="true"  placeholder="Port" [(ngModel)]="itemEdit.idPort"  >            
                  <mat-option *ngFor="let i of catPort " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                    
              </mat-form-field>            
 
          </section>           
        </div>
        <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <section  flex-gt-sm="35" >
              <mat-form-field>
             <mat-select class="cbxClass" #idMill name="idMill" flex  placeholder="Mill" [(ngModel)]="itemEdit.idMill" (change)="onMillChange($event)"  >
                 
                  <mat-option *ngFor="let i of catMill " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                  
              </mat-form-field>            

          </section>   
          <section  flex-gt-sm="35" >
              <mat-form-field>
            <mat-select class="cbxClass" #idCountryOrigin name="idCountryOrigin" flex  placeholder="Country" [(ngModel)]="itemEdit.idCountryOrigin"   >
               
                  <mat-option *ngFor="let i of catCountry " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.idCountry">
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                   
              </mat-form-field>            

          </section>                    
          <section flex-gt-sm="30">
              <mat-form-field>
            <mat-select class="cbxClass" #idTypeOpp name="idTypeOpp" flex required="true"  placeholder="Type Opportunity" [(ngModel)]="itemEdit.idTypeOpp"  >
                  <mat-option *ngFor="let i of catTypeOpp" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                   
              </mat-form-field>            
 
          </section>          
        </div>
        <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <section flex-gt-sm="25" >
              <mat-form-field>
            <mat-select class="cbxClass" #idTransactionFlow name="idTransactionFlow" flex required="true"  placeholder="Transaction flow" [(ngModel)]="itemEdit.idTransactionFlow"  >
                  <mat-option *ngFor="let i of catTransactionFlow" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                    
              </mat-form-field>            

          </section> 
          <section flex-gt-sm="25" >
              <mat-form-field>
            <mat-select class="cbxClass" #idIncoTerm name="idIncoTerm" flex required="true"  placeholder="Inco Terms" [(ngModel)]="itemEdit.idIncoTerm" (change)="incoTermChange($event)"  >
                
                  <mat-option *ngFor="let i of catIncoTerm " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                    
              </mat-form-field>            

          </section>  
          <section flex-gt-sm="25" >
              <mat-form-field>
           <mat-select class="cbxClass" #idLinerTerm name="idLinerTerm" flex required="true"  placeholder="Liner Terms" [(ngModel)]="itemEdit.idLinerTerm"  >
           
                  <mat-option *ngFor="let i of catLinerTerm  " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                    
              </mat-form-field>            
  
          </section>   
          <section flex-gt-sm="25" >
            <mat-slide-toggle #asImporter name="asImporter"  [(ngModel)]="itemEdit.asImporter">{{'ASIMPORTER' | translate}}</mat-slide-toggle>
          </section>                 
        </div>
        <div layout-gt-sm="row" layout-lt-md="column" layout-margin *ngIf="deliveryRequired">
            <mat-form-field>
           <mat-select class="cbxClass" #idDeliveryPoint name="idDeliveryPoint" flex required="true"  placeholder="Delivery Point" [(ngModel)]="itemEdit.idDeliveryPoint"  >
                  <mat-option *ngFor="let i of catDeliveryPoint " [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.cDPName }} 
                  </mat-option>
            </mat-select>                    
            </mat-form-field>          
    
        </div>
        <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <section flex-gt-sm="30" >
              <mat-form-field>
            <mat-select class="cbxClass" #idTypeOpp name="idTypeOpp" flex required="true"  placeholder="Type Opportunity" [(ngModel)]="itemEdit.idTypeOpp"  >
                  <mat-option *ngFor="let i of catTypeOpp" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id" >
                    {{ i.nameDescription || i.name}} 
                  </mat-option>
            </mat-select>                     
              </mat-form-field>            

          </section>           

          <section flex-gt-sm="35">
            <mat-form-field>
              <input matInput #smim flex name="smim" [(ngModel)]="itemEdit.smim"  placeholder="SMI Ref" maxlength="50">
              <mat-hint align="end">{{smim.value.length}} / 50</mat-hint>
            </mat-form-field>
          </section>
          <section flex-gt-sm="35">
            <mat-form-field>
              <input matInput #poNumber flex name="poNumber" [(ngModel)]="itemEdit.poNumber"  placeholder="PO Number" maxlength="150">
              <mat-hint align="end">{{poNumber.value.length}} / 150</mat-hint>
            </mat-form-field>
          </section>


          

        </div>
        <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <section  flex-gt-sm="25" >
              <mat-form-field >
                  <input matInput  [matDatepicker]="offerValidity" name="OfferValidity" placeholder="Offer validity" 
				                  required="true" [(ngModel)]="itemEdit.offerValidity">
                  <mat-datepicker-toggle matSuffix [for]="offerValidity"></mat-datepicker-toggle>
                  <mat-datepicker #offerValidity></mat-datepicker>
              </mat-form-field >  
          </section>  
          <section  flex-gt-sm="25" >
              <mat-form-field >
                  <input matInput  [matDatepicker]="ShipmentOffered" name="ShipmentOffered" placeholder="Latest Shipment" 
				                  required="true" [(ngModel)]="itemEdit.shipmentOffered">
                  <mat-datepicker-toggle matSuffix [for]="ShipmentOffered"></mat-datepicker-toggle>
                  <mat-datepicker #ShipmentOffered></mat-datepicker>
              </mat-form-field >              
          </section> 
        <section  flex-gt-sm="25" >
            <mat-form-field >
                <input matInput  [matDatepicker]="BookingDate" name="BookingDate" placeholder="Booking Date" 
                         [(ngModel)]="itemEdit.bookingDate">
                <mat-datepicker-toggle matSuffix [for]="BookingDate"></mat-datepicker-toggle>
                <mat-datepicker #BookingDate></mat-datepicker>
            </mat-form-field >              
          </section> 
          <section  flex-gt-sm="25" >
            <mat-form-field >
                <input matInput  [matDatepicker]="orderConfirmDate" name="orderConfirmDate" [required]="itemEdit.smim != ''" placeholder="Order Confirm Date" 
                         [(ngModel)]="itemEdit.orderConfirmDate">
                <mat-datepicker-toggle matSuffix [for]="orderConfirmDate"></mat-datepicker-toggle>
                <mat-datepicker #orderConfirmDate></mat-datepicker>
            </mat-form-field >              
          </section> 
        </div>        
        <div flex layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <mat-form-field flex >
            <textarea matInput flex="100"  #Comments name="Comments" maxlength="500"   placeholder="Comments " [(ngModel)]="itemEdit.comments" ></textarea>
             <mat-hint flex align="end">{{Comments.value.length}} / 500</mat-hint>
          </mat-form-field>         
        </div>   
      </ng-template>
      </form>