        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding *ngIf="idParent == 0">
          <section flex-gt-sm="35"  >
            <md-input-container>
              <input mdInput #idParent name="idParent" placeholder="Enter Quotation to Customer base" (change)="getFromOpp($event)">
            </md-input-container>
          </section>
        </div>

      <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(form)" novalidate>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section flex-gt-sm="35" >
            <crm-select #idResponsible name="idResponsible" required catalog="Responsible" placeholder="RESPONSIBLE" [(ngModel)]="itemEdit.IdResponsible" ></crm-select>


          </section>
          <section  flex-gt-sm="35" >
            <crm-select #idCurrency name="idCurrency" required catalog="Currency" placeholder="CURRENCY" [(ngModel)]="itemEdit.IdCurrency" ></crm-select>
          </section>    
          <section  flex-gt-sm="30" >
            <crm-select #idStatus name="idStatus" disabled="true" catalog="EstatusOpportunity" placeholder="STATUS" [(ngModel)]="itemEdit.IdStatus" ></crm-select>
          </section>             
        </div>      
        <div flex layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <md-input-container flex >
            <textarea mdInput flex="100"  #oppNotes name="oppNotes" maxlength="500" required  placeholder="{{ 'OPPDESCRIPTION' | translate }} " [(ngModel)]="itemEdit.OppNotes" ></textarea>
             <md-hint flex align="end">{{oppNotes.value.length}} / 500</md-hint>
          </md-input-container>         
        </div>         
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section  flex-gt-sm="35" >
            <crm-select #idCustomer name="idCustomer" required catalog="Customer" placeholder="CUSTOMER" [(ngModel)]="itemEdit.IdCustomer" (change)="onCustomerChange($event)"></crm-select>
          </section>
          <section  flex-gt-sm="35" >
            <crm-select #idCustomerContact name="idCustomerContact" 
                         parentCatalog="Customer/contactsByCustomer?idCustomer=" 
                         [parentSelect]="idCustomer"
                         placeholder="CUSTOMERCONTACT" [(ngModel)]="itemEdit.IdCustomerContact" ></crm-select>
          </section>
          <section  flex-gt-sm="30" >
            <crm-select #idContact name="idContact" required catalog="Contact" placeholder="CONTACT" [(ngModel)]="itemEdit.IdContact" ></crm-select>
          </section>          
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section flex-gt-sm="35" >
            <crm-select #idMarket name="idMarket" required catalog="Market"  placeholder="MARKET" [(ngModel)]="itemEdit.IdMarket" ></crm-select>
          </section>
          <section  flex-gt-sm="35" >
            <crm-select #idSector name="idSector" required catalog="Sector" placeholder="SECTOR" [(ngModel)]="itemEdit.IdSector" ></crm-select>
          </section>   

          <section  flex-gt-sm="30" >
            <crm-select #idPort name="idPort" required catalog="Port" placeholder="PORT" [(ngModel)]="itemEdit.IdPort" ></crm-select>
          </section>           
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section  flex-gt-sm="35" >
            <crm-select #idMill name="idMill" required catalog="Mill" placeholder="MILL" [(ngModel)]="itemEdit.IdMill" ></crm-select>
          </section>   
          <section  flex-gt-sm="35" >
            <crm-select #IdCountry name="IdCountry" 
                         parentCatalog="Mill/countriesByMill?idmill=" 
                         [parentSelect]="idMill"
                         placeholder="Country Origin" [(ngModel)]="itemEdit.IdCountryOrigin" ></crm-select>
          </section>                    
          <section flex-gt-sm="30">
            <crm-select #IdTypeOpp name="IdTypeOpp" required catalog="TypeOpportunity" placeholder="Type Opportunity" [(ngModel)]="itemEdit.IdTypeOpp"></crm-select>
          </section>          
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section flex-gt-sm="25" >
            <crm-select #IdTransactionFlow name="IdTransactionFlow" required  catalog="TransactionFlow" placeholder="TRANSACTIONFLOW" [(ngModel)]="itemEdit.IdTransactionFlow" ></crm-select>
          </section> 
          <section flex-gt-sm="25" >
            <crm-select #idIncoTerm name="idIncoTerm" required  catalog="IncoTerm" placeholder="INCOTERM" [(ngModel)]="itemEdit.IdIncoTerm" (change)="incoTermChange($event)" ></crm-select>
          </section>  
          <section flex-gt-sm="25" >
            <crm-select #IdLinerTerm name="IdLinerTerm" required  catalog="LinerTerm" placeholder="LINERTERM" [(ngModel)]="itemEdit.IdLinerTerm" ></crm-select>
          </section>   
          <section flex-gt-sm="25" >
            <md-slide-toggle #asImporter name="asImporter"  [(ngModel)]="itemEdit.AsImporter">{{'ASIMPORTER' | translate}}</md-slide-toggle>
          </section>                 
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding *ngIf="deliveryRequired">
          <md-input-container flex class="">
            <textarea mdInput flex #deliveryLocation name="deliveryLocation" maxlength="500"  placeholder="{{'DELIVERYLOCATION' | translate}}" [(ngModel)]="itemEdit.DeliveryLocation" [required]="deliveryRequired" ></textarea>               
          </md-input-container>         
        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section flex-gt-sm="50">
            <md-input-container>
              <input mdInput #SMIM flex name="SMIM" [(ngModel)]="itemEdit.SMIM" required="true" placeholder="SMIM" maxlength="50">
              <md-hint align="end">{{SMIM.value.length}} / 50</md-hint>
            </md-input-container>
          </section>
          <section flex-gt-sm="50">
            <md-input-container>
              <input mdInput #PONumber flex name="PONumber" [(ngModel)]="itemEdit.PONumber" required="true" placeholder="PO Number" maxlength="150">
              <md-hint align="end">{{SMIM.value.length}} / 150</md-hint>
            </md-input-container>
          </section>


        </div>
        <div layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <section  flex-gt-sm="35" >
            <md2-datepicker  #OfferValidity name="OfferValidity" placeholder="Offer validity" requried="true" [(ngModel)]="itemEdit.OfferValidity"></md2-datepicker>
          </section>  
          <section  flex-gt-sm="35" >
            <md2-datepicker  #ShipmentOffered name="ShipmentOffered" placeholder="Shipment Offered" requried="true" [(ngModel)]="itemEdit.ShipmentOffered"></md2-datepicker>
          </section> 
        <section  flex-gt-sm="30" >
            <md2-datepicker  #BookingDate name="BookingDate" placeholder="Booking Date" requried="true" [(ngModel)]="itemEdit.BookingDate"></md2-datepicker>
          </section> 
        </div>        
        <div flex layout-gt-sm="row" layout-lt-sm="column" layout-padding>
          <md-input-container flex >
            <textarea mdInput flex="100"  #Comments name="Comments" maxlength="500"   placeholder="Comments " [(ngModel)]="itemEdit.Comments" ></textarea>
             <md-hint flex align="end">{{Comments.value.length}} / 500</md-hint>
          </md-input-container>         
        </div>   
       
      </form>