<mat-card>
  <mat-card-content>

      <ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
          <section *ngIf="isEditing">
      <form #editform="ngForm"  id="editform" flex (ngSubmit)="submitForm(editform)" novalidate>


          <div layout="row" >
              <mat-form-field flex>
                  <input matInput #name flex name="name" [(ngModel)]="itemEdit.name" required placeholder="Name" maxlength="100" />
                  <mat-hint align="end">{{name.value.length}} / 100</mat-hint>
                </mat-form-field>
            </div>
            <div layout="row" >
                <mat-form-field flex>
                    <input matInput #eMailSubject flex name="eMailSubject" [(ngModel)]="itemEdit.eMailSubject" required placeholder="Email Subject"
                    maxlength="250">
                  <mat-hint align="end">{{eMailSubject.value.length}} / 250</mat-hint>
                  </mat-form-field>
              </div>
 


          <div layout-gt-sm="row"  >
              <ckeditor #eMailBody flex="100" placeholder="Body" name="eMailBody" [(ngModel)]="itemEdit.eMailBody"  debounce="500">
              </ckeditor>
          </div>        

  
    </form>
<br />
    <div layout-gt-sm="row"  >
     <crm-templateemaildocument  flex [idTemplate]="itemEdit.id"> </crm-templateemaildocument>
    </div>  
  </section>

    <section *ngIf="!isEditing">


      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="name" let-value="value" let-row="row"  let-column="column">
          <div layout="row">
            <button mat-button (click)="editEntity(row.id)">{{value}}</button>
          </div>
        </ng-template>
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button mat-icon-button (click)="confirmDelete( row)">
            <mat-icon>delete</mat-icon>
          </button>
          </div>
        </ng-template>

      </td-data-table>
      <td-paging-bar #pagingBarPageSize [firstLast]="true" [pageSize]="pageSize | async"  
                  [total]="_totalItems | async"  (change)="change($event)" >
        <span hide-xs>Rows per page:</span>
        <mat-select [style.width.px]="50" [(ngModel)]="tPageSize">
          <mat-option *ngFor="let size of pagesArray" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>
        <span>{{pagingBarPageSize.range}} <span hide-xs>of {{pagingBarPageSize.total}}</span></span>
      </td-paging-bar>

    </section>

  </ng-template>
  </mat-card-content>
</mat-card>

     