<td-layout-nav >
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>{{ 'HOME.MENU.QUOTATIONTOCUSTOMER.DISPLAYNAME' | translate }}</span>
    <div flex></div>
  </div>
  <td-layout-manage-list #manageList [opened]="_mediaService.registerQuery('gt-sm') | async" [mode]="(_mediaService.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(_mediaService.registerQuery('gt-xs') | async) ? '180px' : '100%'">
    <md-toolbar td-sidenav-content>
       <button md-button routerLink="/quotationtocustomer">Go to Index</button>
    </md-toolbar>
    <md-nav-list td-sidenav-content>
      <a md-list-item md-ripple class="block relative" (click)=" linkClick(1) && (!this._mediaService.query('gt-sm') && this.manageList.close()) ">
        <md-icon md-list-icon>dashboard</md-icon>
        {{ "HEADER" | translate}}
      </a>
      <a md-list-item md-ripple class="block relative" (click)="linkClick(2) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idQuotation > 0">
        <md-icon md-list-icon>dashboard</md-icon>
        {{ "DETAILS" | translate}}
      </a>
      <a md-list-item md-ripple class="block relative" (click)="linkClick(3) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idQuotation > 0">
        <md-icon md-list-icon>insert_chart</md-icon>
        {{ "DIALOGS" | translate}}
      </a>
      <a md-list-item md-ripple class="block relative" (click)="linkClick(4) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idQuotation > 0">
        <md-icon md-list-icon>insert_chart</md-icon>
        {{ "DOCUMENTS" | translate}}
      </a>  
      <a md-list-item md-ripple class="block relative" (click)="linkClick(5) && (!this._mediaService.query('gt-sm') && this.manageList.close()) " *ngIf="idQuotation > 0">
        <md-icon md-list-icon>insert_chart</md-icon>
        Purchase Orders
      </a>       
    </md-nav-list>

    <div td-toolbar-content layout="row" layout-align="start center" flex>

      <crm-gactions flex></crm-gactions>
      <button md-mini-fab class="" tooltip="Go to QFS" (click)="goToUpp()" aria-label="Add Item" *ngIf="scrId == 1"  >
          <md-icon>business</md-icon>
      </button>
    </div>

       <div flex>
    <md-card>
      <md-card-content>

        <crm-quotationtocustomereditorheader [idDoc]="idQuotation"  *ngIf="scrId == 1" [quoteType]="quoteType"></crm-quotationtocustomereditorheader>

        <crm-quotationtocustomereditordetail [idQuotation]="idQuotation" *ngIf="scrId == 2 "></crm-quotationtocustomereditordetail>

        <crm-documentviewer [idParent]="idQuotation" baseApi="QuotationToCustomerDocument" 
        *ngIf="scrId == 4 "
        catName="QTS Documents"></crm-documentviewer>


        <crm-editorbasedialog [idParent]="idQuotation" 
                [baseApi]="'QuotationToCustomerDialog'"
                parentField="idQuotationToCustomer"

                documentBaseApi="QuotationToCustomerDocument"
                documentParentField="idQuotationToCustomerDialog"
                *ngIf="scrId == 3 "
                catName="QTS Dialogs"
                [idCustomer]="idCustomer"></crm-editorbasedialog>

       <crm-purchaseorderindexviewer 
             [idParent]="idQuotation" 
             [byType]="quoteType"  
             *ngIf="scrId == 5"></crm-purchaseorderindexviewer>
      </md-card-content>
    </md-card>
</div>
  </td-layout-manage-list>
</td-layout-nav>