

  <section *ngIf="!isEditing">


      <td-data-table [data]="entList | async" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="getSorted($event)">
        <ng-template tdDataTableTemplate="ActionName" let-value="value" let-row="row"  let-column="column">
          <div layout="row">
            <button md-button (click)="editEntity(row.Id)">{{value}}</button>
          </div>
        </ng-template>
        <ng-template tdDataTableTemplate="Contact" let-value="value" let-row="row"  let-column="column" >
          <div layout="row">
            {{ row.ToContact == 1 ? row.ContactName : row.CustContactName}}
          </div>
        </ng-template>
       
        <ng-template tdDataTableTemplate="tActions" let-value="value" let-row="row" let-column="column">
          <div layout="row" flex="5">

            <button md-icon-button (click)="confirmDelete( row)">
            <md-icon>delete</md-icon>
          </button>
          </div>
        </ng-template>

      </td-data-table>
      <td-paging-bar [firstLast]="true" [pageSizeAll]="true" [pageSizes]="pagesArray" [pageSize]="pageSize | async" [total]="totalItems"
   (change)="change($event)"
        >
      </td-paging-bar>
    </section>


