<ng-template [tdLoading]="loadName" tdLoadingStrategy="overlay">
  <form #editform="ngForm" flex (ngSubmit)="submitForm(form)">


    <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
      <mat-form-field flex-gt-sm="50">
        <input matInput #name flex name="name" [(ngModel)]="itemEdit.name" required placeholder="Name" maxlength="250"
        />
        <mat-hint align="end">{{name.value.length}} / 250</mat-hint>
      </mat-form-field>
      <mat-form-field flex-gt-sm="35">
        <mat-select class="cbxClass" #idResponsible name="idResponsible" flex required="true" placeholder="Responsible" [(ngModel)]="itemEdit.idResponsible">
          <mat-option *ngFor="let i of catResponsible  	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
            {{ i.nameDescription || i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <section flex-gt-sm="15">
        <mat-slide-toggle #isActive name="isActive" [(ngModel)]="itemEdit.isActive">Active</mat-slide-toggle>
      </section>
    </div>
    <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
      <mat-form-field flex-gt-sm="25">
        <input matInput #street name="street" [(ngModel)]="itemEdit.street" required placeholder="Street" maxlength="100" />
        <mat-hint align="end">{{street.value.length}} / 100</mat-hint>
      </mat-form-field>
      <mat-form-field flex-gt-sm="15">
        <input matInput #number name="number" [(ngModel)]="itemEdit.number" required placeholder="Number" maxlength="50" />
        <mat-hint align="end">{{number.value.length}} / 50</mat-hint>
      </mat-form-field>
      <crm-selectcolony flex #ccolony id="ccolony" name="ccolony" byType="1" [(ngModel)]="itemEdit.idColony"></crm-selectcolony>
    </div>

    
    <div layout-gt-sm="row" layout-lt-sm="row" layout-margin>
      

      <mat-form-field flex-gt-sm="50">
        <input matInput #phone flex name="phone" [(ngModel)]="itemEdit.phone" placeholder="Phone" maxlength="50" />
        <mat-hint align="end">{{phone.value.length}} / 50</mat-hint>
      </mat-form-field>
      <mat-form-field flex-gt-sm="50">
        <input matInput #rfc flex name="rfc" [(ngModel)]="itemEdit.rfc" required placeholder="RFC" maxlength="20" />
        <mat-hint align="end">{{rfc.value.length}} / 20</mat-hint>
      </mat-form-field>


    </div>

    <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
      <mat-form-field flex-gt-sm="25">
        <input matInput #daysCredit flex name="daysCredit" [(ngModel)]="itemEdit.daysCredit" placeholder="Days Credit" currencyMask
          [options]="{ prefix: '', allowNegative: false, precision: 0 }" />
      </mat-form-field>
      <mat-form-field flex-gt-sm="25">
        <input matInput #limitCreditUSA flex name="limitCreditUSA" [(ngModel)]="itemEdit.limitCreditUSA" placeholder="Limit Credit USA"
          currencyMask />
      </mat-form-field>
      <mat-form-field flex-gt-sm="25">
        <input matInput #limitCreditGermany flex name="limitCreditGermany" [(ngModel)]="itemEdit.limitCreditGermany" placeholder="Limit Credit Germany"
          currencyMask />
      </mat-form-field>
      <mat-form-field flex-gt-sm="25">
        <input matInput #interestRate flex name="interestRate" [(ngModel)]="itemEdit.interestRate" placeholder="Interest Rate " currencyMask
          [options]="{ prefix: '', suffix: '%' }" />
      </mat-form-field>
    </div>

    <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
        <mat-form-field flex-gt-sm="15">
            <mat-select class="cbxClass" #idCurrency name="idCurrency" flex required="true" placeholder="Currency" [(ngModel)]="itemEdit.idCurrency">
              <mat-option *ngFor="let i of catCurrencies  	" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                {{ i.nameDescription || i.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <section flex-gt-sm="15">
              <mat-slide-toggle #isTax name="isTax" [(ngModel)]="itemEdit.isTax">Apply Tax</mat-slide-toggle>
            </section>
            <section flex-gt-sm="15">
                <mat-slide-toggle #isAutomotive name="isAutomotive" [(ngModel)]="itemEdit.isAutomotive">Automotive</mat-slide-toggle>
              </section>
      </div>
  </form>
</ng-template>