
<form #f="ngForm" #form flex (ngSubmit)="submitForm(form)">


        <div layout-gt-sm="row" layout-lt-sm="column"  layout-margin >
          <md-input-container flex-gt-sm="75">
            <input mdInput #name flex name="name" [(ngModel)]="itemEdit.name" required placeholder="{{ 'NAME' | translate}}" maxlength="250"
            />
            <md-hint align="end">{{name.value.length}} / 250</md-hint>
          </md-input-container>
           <section flex-gt-sm="25">
            <md-select class="cbxClass"  #idResponsible name="idResponsible" flex required="true" placeholder="Responsible" [(ngModel)]="itemEdit.idResponsible">
              <md-option *ngFor="let i of catResponsible" [disabled]="i.isActive != undefined ? !i.isActive : false" [value]="i.id">
                {{ i.nameDescription || i.name}}
              </md-option>
            </md-select>

          </section>
        </div>
        <div layout-gt-sm="row" layout-lt-md="column" layout-margin>
          <md-input-container flex-gt-sm="50">
            <input mdInput #street   name="street" [(ngModel)]="itemEdit.street" required placeholder="Street" maxlength="100"
            />
            <md-hint align="end">{{street.value.length}} / 100</md-hint>
          </md-input-container>
         <md-input-container flex-gt-sm="50">
            <input mdInput #number  name="number" [(ngModel)]="itemEdit.number" required placeholder="Number" maxlength="50"
            />
            <md-hint align="end">{{number.value.length}} / 50</md-hint>
          </md-input-container>
        </div>

        <crm-selectcolony name="zipcode" byType="1" [(ngModel)]="itemEdit.idColony"></crm-selectcolony>
        <div layout-gt-sm="row" layout-lt-sm="row" layout-margin >
          <md-input-container flex-gt-sm="50">
            <input mdInput #phone flex name="phone" [(ngModel)]="itemEdit.phone"  placeholder="Phone" maxlength="50"
            />
            <md-hint align="end">{{phone.value.length}} / 50</md-hint>
          </md-input-container>
         <md-input-container flex-gt-sm="50">
            <input mdInput #rfc flex name="rfc" [(ngModel)]="itemEdit.rFC" required placeholder="RFC" maxlength="20"
            />
            <md-hint align="end">{{rfc.value.length}} / 20</md-hint>
          </md-input-container>
        </div>

        <div layout-gt-sm="row" layout-lt-sm="column" layout-margin >
          <md-input-container flex-gt-sm="25" >
            <input mdInput #daysCredit flex name="daysCredit" [(ngModel)]="itemEdit.daysCredit"  placeholder="Days Credit" currencyMask [options]="{ prefix: '', allowNegative: false, precision: 0 }" 
            />
          </md-input-container>
        <md-input-container flex-gt-sm="25" >
            <input mdInput #limitCreditUSA flex name="limitCreditUSA" [(ngModel)]="itemEdit.limitCreditUSA"  placeholder="Limit Credit USA" currencyMask 
            />
          </md-input-container>
        <md-input-container flex-gt-sm="25" >
            <input mdInput #limitCreditGermany flex name="limitCreditGermany" [(ngModel)]="itemEdit.limitCreditGermany"  placeholder="Limit Credit Germany" currencyMask
            />
          </md-input-container>
        <md-input-container flex-gt-sm="25" >
            <input mdInput #interestRate flex name="interestRate" [(ngModel)]="itemEdit.interestRate"  placeholder="Interest Rate " currencyMask [options]="{ prefix: '', suffix: '%' }" 
            />
          </md-input-container>
        </div>

</form>